#### Functions

<li>A function is a block of code which only runs when it is called.</li>
<li>You can also pass data, known as parameters, into a function.</li>
<li>Generally, a function displays the following pattern:</li>
<ol>
    <li>It takes in an input.</li>
    <li>It processes that input.</li>
    <li>It returns output.</li>
</ol>

#### Types Of Functions:
<ol>
    <li>Builtin Functions:</li>
    <ul>
        <li>The Python built-in functions are defined as the functions whose functionality is pre-defined in Python.</li>
         <li>The python interpreter has several functions that are always present for use. These functions are known as <b>Built-in Functions</b>.</li>
        <li>There are several built-in functions in Python which are listed below:</li>
        <ol>
            <li>len()</li>
            <li>int()</li>
            <li>type()</li>
            <li>float()</li>
            <li>sum()</li>
            <li>min()</li>
            <li>max()</li>
            <li>abs()</li>
            <li>list()</li>
            <li>set()</li>
            <li>tuple()</li>
            <li>float()</li>
            <li>str()</li>
            <li>sorted()</li>
            <li>round()</li>
            <li>reverse()</li>
        </ol>
    </ul>
<li>User Defined Functions:
    <ul>
        <li>User Defined Functions is a function in Python that allows users to write custom logic that the user defines.</li>
        <li>In Python, def keyword is used to declare user defined functions.</li>
    </ul>
</li>
</ol>

In [1]:
list1 = [1,2,5,7,4,9,8]

In [2]:
min(list1)

1

In [3]:
max(list1)

9

In [4]:
round(5.1278686,4)

5.1279

In [5]:
len(list1)

7

In [6]:
sorted(list1)

[1, 2, 4, 5, 7, 8, 9]

In [7]:
list1.reverse()

In [8]:
list1

[8, 9, 4, 7, 5, 2, 1]

In [9]:
abs(-5)

5

In [10]:
dictdata = {"name": "Prabhat", "age": 24, "address": "Butwal"}
type(dictdata)

dict

#### Built-In Functions(Questions)

**Compute the sum of a_list (already defined in the code editor) without using sum().**

<li>Initialize a variable named sum_manual with a value of 0.</li>
<li>Loop through a_list, and for each iteration add the current number to sum_manual.</li>
<li>Print sum_manual and sum(a_list) to see if the values are the same.</li>
<li>Calculate the length of the list and store in a variable len_list and display its length.</li>

In [11]:
a_list = [4444, 8897, 6340, 9896, 4835, 4324, 10, 6445,
          661, 1246, 1000, 7429, 1376, 8121, 647, 1280,
          3993, 4881, 9500, 6701, 1199, 6251, 4432, 37]

In [12]:
sum(a_list)

103945

In [13]:
sum_manual = 0
len_manual = 0
for item in a_list:
    len_manual += 1
    sum_manual += item
print(sum_manual)

103945

In [14]:
len_list = len(a_list)
print(len_list)

24

In [15]:
print(len_manual)

24

In [16]:
string_val = "apple"
len(string_val)

5

#### User Defined Function

![](images/func_structure.png)

<li>We commonly call input variables like a_number parameters. So, <b>a_number</b> is a <b>parameter</b> of the square() function.</li>
<li>When the parameter <b>a_number</b> takes a value (like 6 in <b>square(a_number=6)</b>), we call that value an <b>argument.</b></li>

#### UserDefined (Function With No Return Type)

<li>A function can return any value based on computations performed inside a function or it doesnot return any value.
<li>If a function doesnot return any value then such kind of function is known as function with no return type.</li>


<code>
    def func_name():
        statement//
</code>

In [17]:
def display_name():
    print("My name is Prabhat Ale")

In [18]:
display_name()

My name is Prabhat Ale

#### Parameterized Function

<li>The function may take arguments(s) also called parameters as input within the opening and closing parentheses, just after the function name followed by a colon.</li>

<code>
    def func_name(arg1, arg2):
        statement//
        .
        .
        return val
</code>

In [19]:
def display_name(fname, lname):
    print("My name is {} {}".format(fname, lname))

In [20]:
display_name("Prabhat", "Ale")

My name is Prabhat Ale

In [21]:
display_name("Sumit", "Shrestha")

My name is Sumit Shrestha

In [22]:
def square_num(num):
    sq = num * num
    return sq

In [23]:
sq_5 = square_num(5)
print(sq_5)

25

In [24]:
def display_name(fname, lname):
    return "My name is {} {}".format(fname, lname)

In [25]:
display_name("Sandesh", "Shrestha")

'My name is Sandesh Shrestha'

#### Function With Default Argument

<li>A default argument is a parameter that assumes a default value if a value is not provided in the function call for that argument.</li>

In [26]:
def square_num(num = 6):
    sq = num* num
    return sq

In [27]:
square_num()

36

In [28]:
square_num(8)

64

#### Question

<li>Recreate the cube() function above and compute the cube for numbers 5 and  6.</li>
<li>Assign the cube of 5 to a variable named cube_5.</li>
<li>Assign the cube of 6 to a variable named cube_6.</li>

In [29]:
def cube_num(num):
    cube = num**3
    return cube

In [30]:
cube_5 = cube_num(5)
cube_6 = cube_num(6)

In [31]:
print(cube_5)
print(cube_6)

125
216

#### Question

**Create a function named mul_5() that does the following:**
<ol>
    <li>Takes a number as the input (name the input variable as you wish)</li>
    <li>Multiply the integer 5 to that number.</li>
    <li>Returns the result of the multiplication.</li>
<ol>

<li>Use the mul_5() function to do the following:</li>
<ol>
    <li>Multiply by 5 to the number 20 — assign the result to a variable named mul_20</li>
    <li>Multiply by 5 to the number 16 — assign the result to a variable named mul_16</li>
</ol>

In [32]:
def mul_5(num):
    new_num = 5 * num
    return new_num

In [33]:
mul_20 = mul_5(20)
mul_16 = mul_5(16)

In [34]:
print(mul_20)
print(mul_16)

100
80

#### Keyword arguments
<li>The idea is to allow programmer to specify argument name with values so that caller does not need to remember order of parameters.</li>

In [35]:
def display_name(lname, fname, mname):
    return "My name is {} {} {}".format(fname, mname, lname)

In [36]:
display_name(fname = "Shyam", mname = "Sundar", lname = "Ale")

'My name is Shyam Sundar Ale'

In [37]:
def square_num(num):
    sq = num*num
    return sq

In [38]:
sq = square_num(num = 9)
print(sq)

81

#### Variable length arguments

<li>We can have both normal and keyword variable number of arguments. </li>
 
<li>The special syntax *args in function definitions in Python is used to pass a variable number of arguments to a function.</li>
<li>It is used to pass a non-keyworded, variable-length argument list.</li>
 
<li>The special syntax **kwargs in function definitions in python is used to pass a keyworded, variable-length argument list.</li>
<li>We use the name kwargs with the double star. The reason is because the double star allows us to pass through keyword arguments (any number of them).</li>

In [39]:
def variable_length_arguments(*args):
    for item in args:
        print(item)

In [40]:
def variable_length_arguments(*args):
    sum_args = 0
    for item in args:
        sum_args += item
    return sum_args

In [41]:
sum_args = variable_length_arguments(7,9,8,7,3,2)
print(sum_args)

36

In [42]:
def variable_length_keyword_arguments(**kwargs):
    for key, val in kwargs.items():
        print("The key is {} and the value is {}".format(key, val))

In [43]:
variable_length_keyword_arguments(fname = "Shyam", mname1 = "Sundar", mname = "Singh",
                                 lname = "Ale")

The key is fname and the value is Shyam
The key is mname1 and the value is Sundar
The key is mname and the value is Singh
The key is lname and the value is Ale

#### Question:

**We provided a function called date() in the code editor. This function currently takes inputs month and day and returns them together in a string. We want the date() function to return the year as well as the month and day.**

<li>Modify the date() function to add a year parameter:</li>
<ol>
    <li>Edit the string so that it displays the date in the format month day, year.</li>
    <li>Convert both the year and day variables to strings using the str() function.</li>
<li>Call and print the date() function and pass the appropriate arguments to produce the following outputs:</li>
    <ol>
    <li>July 15, 2006</li>
    <li>February 4, 2004</li>
    <li>June 9, 1949</li>
    </ol>
</ol>

In [44]:
def date(month, day):
    return month + " " + str(day)

In [45]:
date("January", 13)

'January 13'

In [46]:
def date(year, month, day):
    return month + " " + str(day) + "," + str(year)

In [47]:
date(year = 2006, month = "July", day = 15)

'July 15,2006'

In [48]:
date(2004, "February", 4)

'February 4,2004'

In [49]:
date(year = 1949, month = "June", day = 9)

'June 9,1949'

In [50]:
extract(1)
['Ram', 'Shyam', 'Abhishek',.....'Seema']
['male','male','male', 'female',....]
[23,21,22,20,23,21,.......,25]

SyntaxError: invalid syntax (3746014080.py, line 2)

In [51]:
header = ['Name', 'Gender', 'Age', 'Faculty', 'Semester', 'Percentage Score']
student_1 = ['Ram', 'male',23, 'B.C.A', 'Seventh Semester', 78.2]
student_2 = ['Shyam','male',21,'B.C.A', 'Fifth Semester',67.5]
student_3 = ['Abhishek','male',22, 'B.Sc.Cs.It', 'Seventh Semester',82.4]
student_4 = ['Mahima','female',20, 'B.Sc.Cs.It', 'Fifth Semester',87.3]
student_5 = ['Sanjana','female',22, 'B.Sc.Cs.It', 'Seventh Semester',69.8]
student_6 = ['Prabhat', 'male',23, 'B.Sc.Cs.It', 'Seventh Semester', 80.2]
student_7 = ['Ashmita','female',21,'B.Sc.Cs.It', 'Fifth Semester',81.5]
student_8 = ['Shanti','female',22, 'B.Sc.Cs.It', 'Fifth Semester',72.4]
student_9 = ['Himal','male',20, 'B.C.A', 'Fifth Semester',78.3]
student_10 = ['Rabina','female',22, 'B.I.M', 'Seventh Semester',75.8]
student_11 = ['Kamal', 'male',23, 'B.I.M', 'Fifth Semester', 80.2]
student_12= ['Bhawana','female',21,'B.I.M', 'Third Semester',81.5]
student_13 = ['Sunil','male',22, 'B.I.M', 'Fourth Semester',72.4]
student_14= ['Nirisha','female',20, 'B.I.M', 'Fourth Semester',78.3]
student_15 = ['Sushmita','female',22, 'B.I.M', 'Third Semester',75.8]
student_16 = ['Alisha', 'female',20, 'B.A.L.L.B', 'Second Semester', 70.2]
student_17 = ['Dipen','male',23,'B.C.A', 'Fifth Semester',67.5]
student_18 = ['Purnima','female',23, 'B.A.L.L.B', 'Seventh Semester',81.4]
student_19 = ['Aastha','female',24, 'B.Sc.Cs.It', 'Fifth Semester',83.3]
student_20 = ['Pramila','female',24, 'B.Sc.Cs.It', 'Seventh Semester',79.8]
student_21 = ['Pawan', 'male',24, 'B.Sc.Cs.It', 'Third Semester', 70.2]
student_22 = ['Prakriti','female',22,'B.A.L.L.B', 'Fifth Semester',69.5]
student_23 = ['Nabina','female',23, 'B.Sc.Cs.It', 'Second Semester',77.4]
student_24 = ['Siddhant','male',23, 'B.C.A', 'Fifth Semester',78.3]
student_25 = ['Goma','female',25, 'B.A.L.L.B', 'Seventh Semester',72.8]
student_26 = ['Rijan', 'male',23, 'B.I.M', 'Fifth Semester', 81.2]
student_27 = ['Rihans','male',21,'B.C.A', 'Third Semester',86.5]
student_28 = ['Kabya','female',22, 'B.I.M', 'Second Semester',78.4]
student_29 = ['Abhi','male',20, 'B.I.M', 'Fourth Semester',71.3]
student_30 = ['Seema','female',25, 'B.I.M', 'Fifth Semester',69.8]

student_datasets = [header, student_1, student_2, student_3, student_4, student_5,
                    student_6, student_7, student_8, student_9, student_10,
                   student_11, student_12, student_13, student_14,student_15,
                   student_16, student_17, student_18, student_19, student_20,
                    student_21, student_22, student_23, student_24, student_25,
                   student_26, student_27, student_28, student_29, student_30]

#### Question: Write a function named extract() that can extract any column you want from the student_datasets.
<ol>
<li>The function should take in the index number of a column as input (name the parameter whatever you want)</li>
<li>Inside the function's definition, complete the following:</li>
<ol>
    <li>Create an empty list</li>
    <li>Loop through the student_datasets dataset (excluding the header).</li>
    <li>Extract only the value you want by using the parameter (which will be an index number)</li>
    <li>Append that value to the empty list</li>
    <li>Return the list containing the values of the column</li>
</ol>
<li>Use the extract() function to extract the values in the Faculty column and store them in a variable named faculties.</li>
<li>Use the extract() function to extract the values in the Semester column and store them in a variable named semesters.</li>
</ol>

In [52]:
def extract(index_num):
    column_values = []
    for std in student_datasets[1:]:
        value = std[index_num]
        column_values.append(value)
    return column_values

In [53]:
faculties = extract(index_num = 3)
print(faculties)

['B.C.A', 'B.C.A', 'B.Sc.Cs.It', 'B.Sc.Cs.It', 'B.Sc.Cs.It', 'B.Sc.Cs.It', 'B.Sc.Cs.It', 'B.Sc.Cs.It', 'B.C.A', 'B.I.M', 'B.I.M', 'B.I.M', 'B.I.M', 'B.I.M', 'B.I.M', 'B.A.L.L.B', 'B.C.A', 'B.A.L.L.B', 'B.Sc.Cs.It', 'B.Sc.Cs.It', 'B.Sc.Cs.It', 'B.A.L.L.B', 'B.Sc.Cs.It', 'B.C.A', 'B.A.L.L.B', 'B.I.M', 'B.C.A', 'B.I.M', 'B.I.M', 'B.I.M']

In [54]:
semesters = extract(index_num = 4)

In [55]:
print(semesters)

['Seventh Semester', 'Fifth Semester', 'Seventh Semester', 'Fifth Semester', 'Seventh Semester', 'Seventh Semester', 'Fifth Semester', 'Fifth Semester', 'Fifth Semester', 'Seventh Semester', 'Fifth Semester', 'Third Semester', 'Fourth Semester', 'Fourth Semester', 'Third Semester', 'Second Semester', 'Fifth Semester', 'Seventh Semester', 'Fifth Semester', 'Seventh Semester', 'Third Semester', 'Fifth Semester', 'Second Semester', 'Fifth Semester', 'Seventh Semester', 'Fifth Semester', 'Third Semester', 'Second Semester', 'Fourth Semester', 'Fifth Semester']

#### Question: Write a function named freq_table() that generates a frequency table for any list.

<li>The function should take in a list as input.</li>
<li>Inside the function's body, write code that generates a frequency table for that list and stores the table in a dictionary.</li>
<li>Finally, return the frequency table as a dictionary.</li>
<li>Use the freq_table() function on the faculties list (already defined from the previous exercise) to generate the frequency table for the faculites column and store the frequency table to a variable named faculties_ft.</li>
<li>Feel free to experiment with the extract() and freq_table() functions to easily create frequency tables for any column you want.</li>

In [56]:
def freq_table(item_list):
    freq_dict = {}
    for item in item_list:
        if item not in freq_dict:
            freq_dict[item] = 1
        else:
            freq_dict[item] += 1
    return freq_dict

In [57]:
faculties_ft = freq_table(item_list = faculties)     
print(faculties_ft)

{'B.C.A': 6, 'B.Sc.Cs.It': 10, 'B.I.M': 10, 'B.A.L.L.B': 4}

In [58]:
semesters_ft = freq_table(item_list = semesters)
print(semesters_ft)

{'Seventh Semester': 8, 'Fifth Semester': 12, 'Third Semester': 4, 'Fourth Semester': 3, 'Second Semester': 3}

#### Write a function named freq_table() that generates a frequency table for any column in our student_datasets.

<ol>
<li>The function should take the index number of a column in as an input (name the parameter however you want).</li>
<li>Inside the function's body, complete the following:</li>
<ol>   
    <li>Loop through the student_datasets (don't include the header row) and extract the value you want by using the parameter;     which will be an index number.</li>
    <li>Build the frequency table as a dictionary.</li>
    <li>The function should return the frequency table as a dictionary.</li>
</ol>
<li>Use the freq_table() function to generate a frequency table for the Age column . Store the table in a variable named age_ft.</li>
</ol>

In [59]:
def freq_table(index):
    freq_dict = {}
    for std in student_datasets[1:]:
        if std[index] not in freq_dict:
            freq_dict[std[index]] = 1
        else:
            freq_dict[std[index]] += 1
    return freq_dict

In [60]:
age_ft = freq_table(index = 2)
print(age_ft)

{23: 8, 21: 4, 22: 8, 20: 5, 24: 3, 25: 2}

In [61]:
faculty_ft = freq_table(index = 3)
print(faculty_ft)

{'B.C.A': 6, 'B.Sc.Cs.It': 10, 'B.I.M': 10, 'B.A.L.L.B': 4}

In [62]:
gender_ft = freq_table(index = 1)
print(gender_ft)

{'male': 13, 'female': 17}

In [63]:
semester_ft = freq_table(index = 4)
print(semester_ft)

{'Seventh Semester': 8, 'Fifth Semester': 12, 'Third Semester': 4, 'Fourth Semester': 3, 'Second Semester': 3}

#### Reusability & Multiple Parameters

<li>Iterating over student_datasets inside the function's definition limits us to using freq_table() only for the student_datasets.</li>
<li>If we had another dataset or wanted to save the function to use later for another project, freq_table() would be useless because it iterates only over the student_datasets variable.</li>
<li>One of the aspects of functions that make them great is reusability.</li>
<li.We generally use functions to automate repetitive tasks, so a function isn't worthwhile if we can't reuse it for the various instances of a certain kind of task.</li>
<li>Our freq_table() function is currently reusable only with respect to the columns we may want to generate the frequency tables for.</li>
<li>We need to increase its reusability by making it reusable with respect to both columns and datasets.</li>

**How can we do that?**

In [64]:
header = ['Movie Name','Genre', 'Lead Actor', 'Released Year', 'No of ratings', 'Avg Rating']
movie1 = ['Titanic','Romantic', 'Leonardo Decaprio', '1997', 1169835, 7.9]
movie2 = ['Met Joe Black','Romantic', 'Brad Pit', '1998', 243882, 7.3]
movie3 = ['Edge of Tomorrow','Sci-Fiction', 'Tom Cruise', '2014', 678775, 7.9]
movie4 = ['Chennai Express', 'Action', 'Sharukh Khan', '2013', 55643, 6.0]
movie5 = ['The Tourist', 'Mystery', 'Johnny Deep', '2010', 244817, 6.0]
movie6 = ['Romie + Juliet','Romantic', 'Leonardo Decaprio', '1996', 230832, 6.7]
movie7 = ['Fight Club','Action', 'Brad Pit', '1999', 2115606 , 8.8]
movie3 = ['Mission Impossible - Fallout','Action', 'Tom Cruise', '2018', 333634, 7.7]
movie8 = ['Don2', 'Action', 'Sharukh Khan', '2011', 53731, 7.0]
movie9 = ['Pirates of the Caribbean: Dead Men Tell No Tales', 'Action', 'Johnny Deep', '2017', 313199, 6.5]
movie10 = ['Enemy', 'Mystery', 'Jake Gyllenhaal', '2013', 195742, 6.9]
movie11 = ['Chocolat','Romantic', 'Johnny Deep', '2000', 193148, 7.3]
movie12 = ['Source Code','Sci-Fiction', 'Jake Gyllenhaal', '2011', 522197, 7.5]
movie13 = ['Ra-One','Sci-Fiction', 'Sharukh Khan', '2011', 43296, 4.7]
movie14 = ['Inception', 'Action', 'Leonardo Decaprio', '2010', 2342560, 8.8]
movie15 = ['Jack Reacher', 'Mystery', 'Tom Cruise', '2012', 343395 , 7.0]
movie_datasets = [header, movie1, movie2, movie3, movie4, movie5,
                    movie6, movie7, movie8, movie9, movie10,
                   movie11, movie12, movie13, movie14,movie15]

In [65]:
def freq_table(index, dataset):
    freq_dict = {}
    for std in dataset[1:]:
        if std[index] not in freq_dict:
            freq_dict[std[index]] = 1
        else:
            freq_dict[std[index]] += 1
    return freq_dict

In [66]:
genre_table = freq_table(index = 1, dataset = movie_datasets)
print(genre_table)

{'Romantic': 4, 'Action': 6, 'Mystery': 3, 'Sci-Fiction': 2}

In [67]:
gender_table = freq_table(index = 1, dataset = student_datasets)
print(gender_table)

{'male': 13, 'female': 17}

In [68]:
leadactors_table = freq_table(index = 2, dataset = movie_datasets)
print(leadactors_table)

{'Leonardo Decaprio': 3, 'Brad Pit': 2, 'Tom Cruise': 2, 'Sharukh Khan': 3, 'Johnny Deep': 3, 'Jake Gyllenhaal': 2}

#### Question On Keyword and Positional Arguments
<ol>
<li>Use positional arguments when you generate the table for the Genre column. Assign the table to a variable named genre_ft.</li>
<li>Use keyword arguments for the 'Lead Actor' column following the order (index, data_set). Assign the table to a variable named actor_ft.</li>
</ol>

In [69]:
genre_ft = freq_table(1, movie_datasets)
print(genre_ft)

{'Romantic': 4, 'Action': 6, 'Mystery': 3, 'Sci-Fiction': 2}

In [70]:
actor_ft = freq_table(index = 2, dataset = movie_datasets)

In [71]:
print(actor_ft)

{'Leonardo Decaprio': 3, 'Brad Pit': 2, 'Tom Cruise': 2, 'Sharukh Khan': 3, 'Johnny Deep': 3, 'Jake Gyllenhaal': 2}

#### Combining Functions

<li>When we write a function, it's common to use other functions inside the body of the function we're creating.</li>
<li>Let's say we want to write a function named mean(), that takes in a list of numbers and returns the mean of that list.</li>
<li>To get the mean of a list, we need to compute its sum and then divide the result by the length of that list.</li>
<li>Let's start by writing two functions, one for computing the sum of a list and the other for computing the length.</li>

In [72]:
def sum_list(input_list):
    sum_counter = 0
    for item in input_list:
        sum_counter += item
    return sum_counter

In [73]:
def len_list(input_list):
    len_counter = 0
    for item in input_list:
        len_counter += 1
    return len_counter

In [74]:
def mean_list(input_list):
    sum_counter = sum_list(input_list)
    len_counter = len_list(input_list)
    avg_list = sum_counter/len_counter
    return avg_list

In [75]:
input_list = [1,5,3,6,31,65,30,63,54,2,4,87,23]
avg_list = mean_list(input_list)

In [76]:
print(avg_list)

28.76923076923077

In [77]:
header = ['Subject', 'FM', 'PM', 'OM']
score1 = ['English', '75', '32', '63']
score2 = ['Nepali', '100', '40', '74']
score3 = ['Social', '100', '40', '76']
score4 = ['Science', '75', '32', '68']
score5 = ['C.Math', '100', '40', '93']
score6 = ['Opt.Math', '100', '40', '91']
score7 = ['E.H.P', '75', '32', '61']
score8 = ['Account', '75', '32', '58']
score9 = ['Economic', '75', '32', '57']
score10 = ['Computer', '75', '32', '71']

score_dataset = [header, score1, score2, score3, score4, score5, 
                score6, score7, score8, score9, score10]

#### From the given dataset write a function that calculates the percentage of given student.

<li>Use one function to calculate the full marks of the student.</li>
<li>Another function to calculate the obtained marks of the student.</li>
<li>And create a third function that would calculate the percentage of the given student.</li>
<li>Don't forget to use function inside a function we just read above.</li>

In [78]:
for score in score_dataset[1:]:
    print(score[1])

75
100
100
75
100
100
75
75
75
75

In [79]:
def get_fullmarks(dataset):
    full_marks = 0
    for score in dataset[1:]:
        full_marks += int(score[1])
    return full_marks

In [80]:
def get_obtainedmarks(dataset):
    ob_marks = 0
    for score in dataset[1:]:
        ob_marks += int(score[3])
    return ob_marks

In [81]:
def calc_percentage(dataset):
    full_marks = get_fullmarks(dataset)
    ob_marks = get_obtainedmarks(dataset)
    percent = (ob_marks/full_marks)*100
    return percent

In [82]:
student_percentage = calc_percentage(score_dataset)
print(student_percentage)

83.76470588235294

In [88]:
def get_marks(dataset, index):
    score = 0
    for item in dataset[1:]:
        score += int(item[index])
    return score

In [89]:
def calc_percentage(dataset, fm_index = None, om_index = None):
    full_marks = get_marks(dataset = score_dataset, index = fm_index)
    ob_marks = get_marks(dataset = score_dataset, index = om_index)
    percent = (ob_marks/full_marks)*100
    return percent

In [90]:
percentage = calc_percentage(score_dataset, fm_index = 1, om_index = 3)
print(percentage)

83.76470588235294

#### Pallindrome check

<li>A palindrome is a word, phrase, or sequence that is the same spelled forward as it is backwards.</li>
<li>Examples are:</li>
<ol>
<li>radar</li>
<li>was it a car or a cat i saw</li>
</ol>

In [91]:
b = 'was it a car or a cat i sawt'
b = b.replace(" ", "")
print(b)

wasitacaroracatisawt

In [92]:
def check_pallindrome(original_string):
    original_string = original_string.replace(" ", "")
    reverse_string = ''.join(reversed(b))
    if original_string == reverse_string:
        print("Pallindrome")
    else:
        print("NOt a pallindrome")

In [93]:
check_pallindrome(b)

NOt a pallindrome

In [94]:
def check_pallindrome(original_string):
    reverse_string = ""
    original_string = original_string.replace(" ", "")
    for i in range(len(original_string)-1 , -1, -1):
        reverse_string += original_string[i]
    if reverse_string == original_string:
        print("Pallindrome")
    else:
        print("Not a pallindrome")

In [99]:
a = 'radar'
b = 'was it a car or a cat i saw'

In [100]:
check_pallindrome(a)

Pallindrome

In [101]:
check_pallindrome(b)

Pallindrome