****Python has two different types of loop commands:****
<ol>
    <li>for loops</li>
    <li>while loops</li>
</ol>

#### For Loops
<li>In Python, the for loop is used to run a block of code for a certain number of times.</li>
<li>A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).</li>
<li>We call this technique a <b>loop</b> because we are <b>looping</b> over each element in the list and performing an action on each element.</li> 
<li>Because we always start with <b>for</b>, we call this technique a <b>for loop.</b></li>

![](images/for_loop_script.png)

#### Why For Loops 
<li>We can also retrieve each element in lists, and perform operation but this method will not scale well to a large dataset</li>
<li>Let's say at first we have to repeat this process for five times. We can rely on this method since repeating the code for five times is not that difficult.</li>
<li>But if we have to repeat the same process for 1000+ times then relying on this method is a waste of time and the programmer has to write the same syntax with very few differences 1000+ times.</li>
<li>So, in such scenario, <b>for loops</b> can save programmer's time as well as energy. Also it is the smartest way of dealing with problems.</li>

In [ ]:
string_var = "Lumbini City College"

In [ ]:
for item in string_var:
    print(item)

#### For Loops WIth List

<li>We can iterate over the items in a list using <b>for loops.</b></li>

In [ ]:
list1 = [5,6,7,8,9,11,12,13,14,15]
print(len(list1))

In [ ]:
for item in list1:
    print(item)

#### Take the given list and create a new list which represent the square value of the items in a list

num = [1,2,3,5,7,9]

In [ ]:
num = [1,2,3,5,7,9]

In [ ]:
square_list = []
for item in num:
    square_item = item* item
    square_list.append(square_item)

In [ ]:
print(square_list)

#### Python List Comprehension Techniques

In [ ]:
square_item = [item*item for item in num]
print(square_item)

## Find the cube of the above list using forloops & list comprehension techniques

In [ ]:
cube_list = []
for item in num:
    print(item)
    cube_item = item**3
    cube_list.append(cube_item)
print(cube_list)

In [ ]:
cube_list = [item**3 for item in num]
print(cube_list)

#### Sotre the list of the even numbers in a new list from the given list.
numbers =[1,2,3,4,5,6,7,8,9,10]

In [ ]:
numbers = [1,2,3,4,5,6,7,8,9,10]
even_numbers = []
for item in numbers:
    if item %2== 0:
        even_numbers.append(item)

In [ ]:
print(even_numbers)

In [ ]:
odd_numbers = [item for item in numbers if item%2==1]
print(odd_numbers)

#### For Loops In lists of lists
<li>We can aslo use for loops for iterating over the items inside a list of list.</li>

In [ ]:
list_of_list = [['Prabhat', 'B.Sc.Cs.It', '7th Semester'],
               ['Hari', 'B.CA.', '5th Semester'],
               ['Shyam', 'B.It', '8th Semeseter']]

In [ ]:
for item in list_of_list:
    print(item)
    for subitem in item:
        print(subitem)
#     print(item)

In [ ]:
for item in list_of_list:
    print(item[1])

In [ ]:
student_1 = ['Ram', 'male',23, 'B.C.A', 'Seventh Semester', 78.2]
student_2 = ['Shyam','male',21,'B.C.A', 'Fifth Semester',67.5]
student_3 = ['Abhishek','male',22, 'B.Sc.Cs.It', 'Seventh Semester',82.4]
student_4 = ['Mahima','female',20, 'B.Sc.Cs.It', 'Fifth Semester',87.3]
student_5 = ['Sanjana','female',22, 'B.Sc.Cs.It', 'Seventh Semester',69.8]
student_6 = ['Prabhat', 'male',23, 'B.Sc.Cs.It', 'Seventh Semester', 80.2]
student_7 = ['Ashmita','female',21,'B.Sc.Cs.It', 'Fifth Semester',81.5]
student_8 = ['Shanti','female',22, 'B.Sc.Cs.It', 'Fifth Semester',72.4]
student_9 = ['Himal','male',20, 'B.C.A', 'Fifth Semester',78.3]
student_10 = ['Rabina','female',22, 'B.I.M', 'Seventh Semester',75.8]
student_11 = ['Kamal', 'male',23, 'B.I.M', 'Fifth Semester', 80.2]
student_12= ['Bhawana','female',21,'B.I.M', 'Third Semester',81.5]
student_13 = ['Sunil','male',22, 'B.I.M', 'Fourth Semester',72.4]
student_14= ['Nirisha','female',20, 'B.I.M', 'Fourth Semester',78.3]
student_15 = ['Sushmita','female',22, 'B.I.M', 'Third Semester',75.8]

student_datasets = [student_1, student_2, student_3, student_4, student_5,
                    student_6, student_7, student_8, student_9, student_10,
                   student_11, student_12, student_13, student_14,student_15]

#### Question 

**From the <b>student_datasets</b>, calculate the average percentage scored by these students.**

In [ ]:
total_score = 0
counter = 0
for student in student_datasets:
    counter += 1
    percentage = student[-1]
    total_score += percentage
print(total_score)
print(counter)

In [ ]:
average_score = total_score/ counter
print(average_score)


**From the <b>student_datasets</b>, calculate the average age of these students.**

In [ ]:
total_age = 0
counter = 0
for student in student_datasets:
    counter+= 1
    age = student[2]
    total_age += age
print(counter)
print(total_age)

In [ ]:
average_age = total_age/counter
print(average_age)

#### Break Statements In For Loop
<li>With the break statement we can stop the for loop even if the condition is true.</li>

**From the <b>student_datasets</b>, calculate the total score obtained by five five students.**

In [ ]:
total_score = 0
counter = 0
for student in student_datasets:
    if counter >= 5:
        break
    counter += 1
    percentage = student[-1]
    total_score += percentage
print(total_score)
print(counter)

In [ ]:
avg_score_for_five_students = total_score/counter
print(avg_score_for_five_students)

In [ ]:
total_age = 0
counter = 0
for student in student_datasets:
    if counter >= 5:
        break
    counter += 1
    age = student[2]
    total_age += age
print(total_age)
print(counter)
average_age = total_age/counter
print(average_age)

In [ ]:
total_age = 0
counter = 0
for student in student_datasets[10:]:
    counter += 1
    print(student)
    age = student[2]
    total_age += age
print(total_age)
print(counter)
average_age = total_age/counter
print(average_age)

#### Range
<li>The Python range() function returns a sequence of numbers, in a given range.</li>
<li>The most common use of it is to iterate sequence on a sequence of numbers using Python loops.</li>
<li>It accepts three parameters. They are :</li>
<ol>
    <li><b>start:</b>Optional. An integer number specifying at which position to start. Default is 0</li>
    <li><b>stop:</b>Required. An integer number specifying at which position to stop (not included).</li>
    <li><b>step:</b>Optional. An integer number specifying the incrementation. Defaul</li>
</ol>

In [ ]:
for item in range(10):
    print(item)

In [ ]:
for item in range(23, 29):
    print(item)

In [ ]:
for item in range(23, 45, 2):
    print(item)

#### Use range to populate the square of even numbers upto 20 in a new list.

In [ ]:
even_sq_list = []
for item in range(20):
    if item%2 == 0:
        square_item = item * item
        even_sq_list.append(square_item)

In [ ]:
print(even_sq_list)

In [ ]:
even_sq_list = []
for item in range(0,20,2):
    even_sq_list.append(item*item)
print(even_sq_list)

#### Use range to populate the square of odd numbers upto 20 in a new list.

In [ ]:
odd_sq_list = []
for item in range(1,20,2):
    odd_sq_list.append(item*item)
print(odd_sq_list)

#### For Loops With Dictionary

<li>We can iterate over dictionary items using for loop in dict.items()</li>
<li>The dictionary keys can be iterated using dict.keys()</li>
<li>Similarly, the dictionary values can also be iterated using dict.values().</li>

In [ ]:
example_dictionary = {"name":  'Prabhat', 'age': 24, 'Level': 'Bachelor', 
                     'address': 'Butwal', 'gender': 'male'}

In [ ]:
len(example_dictionary)

In [ ]:
for key in example_dictionary.keys():
    print(key)

In [ ]:
for val in example_dictionary.values():
    print(val)

In [ ]:
for key, val in example_dictionary.items():
    print("Key is {}".format(key))
    print("Value is {}".format(val))

#### For Loops WIth Set
<li>We can also use for loops to iterate over the elements inside a set.</li>
<li>We can add group of new elements in a set by using set.add() method inside a for loop.</li>

In [ ]:
set1 = {1,3,5,7,9,4,6,2,5,5,3,1,3}
print(set1)

In [ ]:
for item in set1:
    print(item)

In [ ]:
set2 = {0,8}
for item in set1:
    set2.add(item)

In [ ]:
print(set2)

####  For Loops With A Tuple
<li>We can also iterate over the elements inside a tuple using for loops.</li>
<li>We can also concatenate group of elements inside a tuple using for loops.</li>

In [ ]:
tuple1 = (1,5,7,9,11,13,17,19)

In [ ]:
for item in tuple1:
    print(item)

In [ ]:
tuple2 = ()

In [ ]:
for item in tuple1:
    tuple2 = tuple2 + (item,)

In [ ]:
print(tuple2)

#### While Loop
<li>With the while loop we can execute a set of statements as long as a condition is true.</li>
<li>The while loop statement stops running once the condition is false.</li>
<li>With the <b>break</b> statement we can stop the loop even if the while condition is true.</li>

#### While loop Syntax

<code>
while (condition):
    //statement
</code>

In [4]:
a = 0
while a < 5:
    print(a)
    a += 1

0
1
2
3
4

In [5]:
a = 10
while a >5:
    print(a)
    a -= 1

10
9
8
7
6

#### Python Do-while Loop
<li>Python doesn't have do-while loop. But we can create a program like this.</li>
<li>The do while loop is used to check condition after executing the statement. It is like while loop but it is executed at least once.</li>
<li>The <b>do while loop</b> can be created by using while, if and break statements in python.</li>

#### Do-while loop Syntax

<code>
do {  
     //statement  
} while (condition);  
</code>

In [11]:
a = 0
while True:
    print(a)
    a += 1
    if a > 5:
        break

0
1
2
3
4
5

In [2]:
print("hello")

hello

#### Booleans

<li>When we use the == operator to determine if two values are equal, the output will always be True or False.</li>
<li>Booleans are binary output variables if condition satisfies, it will give <b>True</b> and if condition is not satisfied it gives <b>False.</b></li>

In [14]:
boolean = 5 == 6

In [16]:
print(type(boolean))

<class 'bool'>

In [17]:
6 > 3

True

#### Python Conditions and If statements

<li>Python supports the usual logical conditions from mathematics:</li>
<ol>
    <li>Equals: a == b</li>
    <li>Not Equals: a != b</li>
    <li>Less than: a < b</li>
    <li>Less than or equal to: a <= b</li>
    <li>Greater than: a > b</li>
    <li>Greater than or equal to: a >= b</li>
    <li>These conditions can be used in several ways, most commonly in "if statements" and loops.</li>
</ol>

<li>An "if statement" is written by using the if keyword.</li>

In [18]:
5 == 6

False

In [19]:
5!= 6

True

In [20]:
5 < 6

True

In [21]:
5<=6

True

In [22]:
5>6

False

In [24]:
5 >= 6

False

#### Use Of if Statements

<li>We use if statement incase we only need to valid whether the statement is true and have to perform operations only when it's true.</li>

**Syntax of if statements**

<code>if boolean_expression:
    statement(s)
</code>

In [32]:
a = 6
b = 6

In [30]:
if a > b:
    print("a is greater")

a is greater

In [33]:
if a == b:
    print("a and b are equal")

a and b are equal

In [36]:
a = 10
if a%2==0:
    print("a is even")

a is even

In [1]:
student_1 = ['Ram', 'male',23, 'B.C.A', 'Seventh Semester', 78.2]
student_2 = ['Shyam','male',21,'B.C.A', 'Fifth Semester',67.5]
student_3 = ['Abhishek','male',22, 'B.Sc.Cs.It', 'Seventh Semester',82.4]
student_4 = ['Mahima','female',20, 'B.Sc.Cs.It', 'Fifth Semester',87.3]
student_5 = ['Sanjana','female',22, 'B.Sc.Cs.It', 'Seventh Semester',69.8]
student_6 = ['Prabhat', 'male',23, 'B.Sc.Cs.It', 'Seventh Semester', 80.2]
student_7 = ['Ashmita','female',21,'B.Sc.Cs.It', 'Fifth Semester',81.5]
student_8 = ['Shanti','female',22, 'B.Sc.Cs.It', 'Fifth Semester',72.4]
student_9 = ['Himal','male',20, 'B.C,A', 'Fifth Semester',78.3]
student_10 = ['Rabina','female',22, 'B.I.M', 'Seventh Semester',75.8]
student_11 = ['Kamal', 'male',23, 'B.I.M', 'Fifth Semester', 80.2]
student_12= ['Bhawana','female',21,'B.I.M', 'Third Semester',81.5]
student_13 = ['Sunil','male',22, 'B.I.M', 'Fourth Semester',72.4]
student_14= ['Nirisha','female',20, 'B.I.M', 'Fourth Semester',78.3]
student_15 = ['Sushmita','female',22, 'B.I.M', 'Third Semester',75.8]

student_datasets = [student_1, student_2, student_3, student_4, student_5,
                    student_6, student_7, student_8, student_9, student_10,
                   student_11, student_12, student_13, student_14,student_15]

#### Count the number of male and female students from the given dataset

In [40]:
male_count = 0
for student in student_datasets:
    gender = student[1]
    if gender == 'male':
        male_count += 1

In [41]:
print(male_count)

7

In [42]:
female_count = 0
for student in student_datasets:
    gender = student[1]
    if gender == 'female':
        female_count += 1

In [43]:
print(female_count)

8

#### Question
<li>Count the number of B.Sc.Cs.It Students who are reading in fifth semester.</li>
<li>Also store those group of students in a separate list of list.</li>

In [17]:
counter = 0
fifth_sem_bscscit_std = []
for std in student_datasets:
    faculty = std[3]
    semester = std[4]
    if faculty == "B.Sc.Cs.It" and semester == "Fifth Semester":
        counter += 1
        fifth_sem_bscscit_std.append(std)

In [18]:
print(counter)
print(fifth_sem_bscscit_std)

3
[['Mahima', 'female', 20, 'B.Sc.Cs.It', 'Fifth Semester', 87.3], ['Ashmita', 'female', 21, 'B.Sc.Cs.It', 'Fifth Semester', 81.5], ['Shanti', 'female', 22, 'B.Sc.Cs.It', 'Fifth Semester', 72.4]]

#### Find the number of students whose age is greater than or equals to 22.

In [21]:
over22 = 0
for std in student_datasets:
    age = std[2]
    if age >= 22:
        over22 += 1

In [22]:
print(over22)

9

#### Find the number of students whose score is less than 75.

In [24]:
lessthan75 = 0
for std in student_datasets:
    score = std[-1]
    if score < 75:
        lessthan75 += 1

In [25]:
print(lessthan75)

4

#### Question
**Correct the following code in such a way that it will only print the statement which is true.**


<code>
if True:
    print("2 + 2 == 5")
    print("lemons are sour")
if True:
    print("the sky is blue")
    print("5 >= 3")  
if True:
    print("spheres have corners")
    print("7 / 5 == 2")
   
</code>

In [28]:
if True:
    print("2 + 2 == 5")
    print("lemons are sour")

if True:
    print("the sky is blue")
    print("5 >= 3")
    
if True:
    print("spheres have corners")
    print("7 / 5 == 2")

2 + 2 == 5
lemons are sour
the sky is blue
5 >= 3
spheres have corners
7 / 5 == 2

In [29]:
if (2+2 == 5):
    print("2 + 2 == 5")
    print("lemons are sour")

if (5 >= 3):
    print("the sky is blue")
    print("5 >= 3")
    
if (7/5 == 2):
    print("spheres have corners")
    print("7 / 5 == 2")

the sky is blue
5 >= 3

#### Use of if-else statements
<li>We need to check the validity of the statements and we care about both possibile conditions then we use if-else statement.</li>
<li>if-else statement only support binary statements or binary conditions.</li>

#### Syntax of if-else statements
<code>
if expression:
   statement(s)
else:
   statement(s)
</code>

In [34]:
n1 = 45 
n2 = 32

if n1 > n2:
    print("n1 is greater than n2")
else:
    print("n1 is smaller than n2")

n1 is greater than n2

In [35]:
student_1 = ['Ram', 'male',23, 'B.C.A', 'Seventh Semester', 78.2]
student_2 = ['Shyam','male',21,'B.C.A', 'Fifth Semester',67.5]
student_3 = ['Abhishek','male',22, 'B.Sc.Cs.It', 'Seventh Semester',82.4]
student_4 = ['Mahima','female',20, 'B.Sc.Cs.It', 'Fifth Semester',87.3]
student_5 = ['Sanjana','female',22, 'B.Sc.Cs.It', 'Seventh Semester',69.8]
student_6 = ['Prabhat', 'male',23, 'B.Sc.Cs.It', 'Seventh Semester', 80.2]
student_7 = ['Ashmita','female',21,'B.Sc.Cs.It', 'Fifth Semester',81.5]
student_8 = ['Shanti','female',22, 'B.Sc.Cs.It', 'Fifth Semester',72.4]
student_9 = ['Himal','male',20, 'B.C.A', 'Fifth Semester',78.3]
student_10 = ['Rabina','female',22, 'B.I.M', 'Seventh Semester',75.8]
student_11 = ['Kamal', 'male',23, 'B.I.M', 'Fifth Semester', 80.2]
student_12= ['Bhawana','female',21,'B.I.M', 'Third Semester',81.5]
student_13 = ['Sunil','male',22, 'B.I.M', 'Fourth Semester',72.4]
student_14= ['Nirisha','female',20, 'B.I.M', 'Fourth Semester',78.3]
student_15 = ['Sushmita','female',22, 'B.I.M', 'Third Semester',75.8]

student_datasets = [student_1, student_2, student_3, student_4, student_5,
                    student_6, student_7, student_8, student_9, student_10,
                   student_11, student_12, student_13, student_14,student_15]

#### Use if-else statement and find the count of male as well as female students

In [38]:
male_count = 0
female_count = 0

for std in student_datasets:
    gender = std[1]
    if gender == "male":
        male_count += 1
    else:
        female_count += 1

In [39]:
print(male_count)
print(female_count)

7
8

#### Use if-else statement and find the count of students who are less than 22 and greater than or equal to 22.

In [41]:
lessthan22 = 0
groreqto22 = 0
for std in student_datasets:
    if std[2] < 22:
        lessthan22 += 1
    else:
        groreqto22 += 1

In [42]:
print(lessthan22)
print(groreqto22)

6
9

#### Short-hand if-else statements
<li>We can use if-else condition as one line statement in short-hand if-else statements.</li>
<li>If you have only one statement to execute, one for if, and one for else, you can put it all on the same line.</li>

In [43]:
a = 23
b = 32
print("A is greater") if a >b else print("B is greater")

B is greater

#### Use of if-elif-else Statements

<li>If we have greater than two possible conditions for any given statement, then under such scenario, we use if-elif-else statements.</li>
<li>A perfect example for using such conditional statements is <b>"Checking whether a number is greater than, less than or equal to another given number"</b>.</li>

#### Syntax Of If-elif-else statements

<code>
if expression1:
   statement(s)
elif expression2:
   statement(s)
elif expression3:
   statement(s)
else:
   statement(s) 
</code>

In [49]:
a = 45
b = 45

In [50]:
if a > b:
    print("a is greater")
elif b > a:
    print("b is greater")
else:
    print("a is equal to b")

a is equal to b

In [52]:
student_1 = ['Ram', 'male',23, 'B.C.A', 'Seventh Semester', 78.2]
student_2 = ['Sashi','male',21,'B.C.A', 'Fifth Semester',67.5]
student_3 = ['Abhishek','male',22, 'B.Sc.Cs.It', 'Seventh Semester',82.4]
student_4 = ['Sarishma','female',20, 'B.Sc.Cs.It', 'Fifth Semester',87.3]
student_5 = ['Sanjana','female',22, 'B.Sc.Cs.It', 'Seventh Semester',69.8]
student_6 = ['Prabhat', 'male',23, 'B.Sc.Cs.It', 'Seventh Semester', 80.2]
student_7 = ['Ashmita','female',21,'B.Sc.Cs.It', 'Fifth Semester',81.5]
student_8 = ['Shanti','female',22, 'B.Sc.Cs.It', 'Fifth Semester',72.4]
student_9 = ['Himal','male',20, 'B.C.A', 'Fifth Semester',78.3]
student_10 = ['Rabina','female',22, 'B.I.M', 'Seventh Semester',75.8]
student_11 = ['Kamal', 'male',23, 'B.I.M', 'Fifth Semester', 80.2]
student_12= ['Bhawana','female',21,'B.I.M', 'Third Semester',81.5]
student_13 = ['Sunil','male',22, 'B.I.M', 'Fourth Semester',72.4]
student_14= ['Nirisha','female',20, 'B.I.M', 'Fourth Semester',78.3]
student_15 = ['Sushmita','female',22, 'B.I.M', 'Third Semester',75.8]


student_datasets = [student_1, student_2, student_3, student_4, student_5,
                    student_6, student_7, student_8, student_9, student_10,
                   student_11, student_12, student_13, student_14,student_15]

#### Find the number of counts for each semester student.

In [56]:
third_sem_count = 0
fifth_sem_count = 0
seventh_sem_count = 0
fourth_sem_count = 0

for std in student_datasets:
    if std[-2] == "Seventh Semester":
        seventh_sem_count += 1
    elif std[-2] == "Fifth Semester":
        fifth_sem_count += 1
    elif std[-2] == "Third Semester":
        third_sem_count += 1
    else:
        fourth_sem_count += 1

In [57]:
print(third_sem_count)
print(fifth_sem_count)
print(seventh_sem_count)
print(fourth_sem_count)

2
6
5
2

#### Dictionaries & Frequency Tables

<li>In this lesson on dictionaries and frequency tables, we'll learn how to check for dictionary membership, update dictionary values, and count values using dictionaries.</li>

**Checking membership in a dictionary**

In [58]:
student = {"name": "manisha", "age": 23, "gender": "female", "semester": "Seventh"}

In [62]:
"gender" in student

True

In [60]:
student.keys()

dict_keys(['name', 'age', 'gender', 'semester'])

#### Question:

**Using the in operator, check whether the following values exist as dictionary keys in the fruits_dict dictionary:**

<b>fruits_dict = {"apple": 300, "banana":120, "orange":100, "dragon fruit": 400}</b>

<li>The string 'banana'- Assign the output of the expression to a variable named is_in_dictionary_1.</li>
<li>The integer 400- Assign the output of the expression to a variable named is_in_dictionary_2.</li>
<li>Combine the output of an expression containing in with an if statement. If the string 'apple' exists as dictionary key in fruits_dict, then complete the following:</li>
<li>Assign the string "It exists" to a variable named result.</li>
<li>Print the result variable.</li>

In [65]:
fruits_dict = {"apple": 300, "banana": 120, "orange": 100, "dragon fruit": 400}

In [66]:
is_in_dictionary_1 = "banana" in fruits_dict

In [68]:
print(is_in_dictionary_1)

True

In [67]:
is_in_dictionary_2 = 400 in fruits_dict

In [69]:
print(is_in_dictionary_2)

False

In [77]:
if "apple" in fruits_dict:
    result = "It exists"

In [78]:
print(result)

It exists

#### Updating Dictionary Values
<li>We can update the items of an dictionary by using their keys.</li>
<li>We also have dict.update() method to update a particular key:value pair in a dictionary.</li>

In [79]:
dictionary = {"name": "Prabhat Ale", "age": 23, "address": "Butwal", "gender": "male"}

In [81]:
print(dictionary)

{'name': 'Prabhat Ale', 'age': 23, 'address': 'Butwal', 'gender': 'male'}

In [80]:
print(dictionary.keys())

dict_keys(['name', 'age', 'address', 'gender'])

In [82]:
dictionary['age'] = 24

In [83]:
print(dictionary)

{'name': 'Prabhat Ale', 'age': 24, 'address': 'Butwal', 'gender': 'male'}

In [84]:
dictionary['address'] = "Dhanewa"

In [85]:
print(dictionary)

{'name': 'Prabhat Ale', 'age': 24, 'address': 'Dhanewa', 'gender': 'male'}

In [86]:
dictionary.update({'address': 'Manigram'})

In [87]:
print(dictionary)

{'name': 'Prabhat Ale', 'age': 24, 'address': 'Manigram', 'gender': 'male'}

#### Question
**The content_ratings dictionary is corrupt and needs to be fixed. The corrupt version of content_ratings is provided in the code editor.**
<code>
content_ratings = {'4+': 622, '12+': '1155', '9+': 987, '17+': 4433}
</code>
<ol>
<li>Swap the values stored in the 4+ and 17+ keys.</li>
<li>Assign the value stored in 4+ to a temporary variable called temp.</li>
<li>Assign the value stored in 17+ to 4+.</li>
<li>Assign the value stored in the temporary variable to 17+.</li>
<li>Convert the value stored in 12+ into an integer.</li>
<li>Print the content_ratings dictionary.</li>
</ol>

In [88]:
content_ratings = {"4+": 622, "12+": '1155', "9+": 987, "17+" : 4433}

In [89]:
temp = content_ratings['4+']

In [90]:
content_ratings['4+'] = content_ratings['17+']

In [92]:
content_ratings['17+'] = temp

In [93]:
print(content_ratings)

{'4+': 4433, '12+': '1155', '9+': 987, '17+': 622}

In [96]:
content_ratings_12plus = int(content_ratings['12+'])
print(content_ratings_12plus)
print(type(content_ratings_12plus))

1155
<class 'int'>

#### Counting In A Dictionary
<li>We can count the number of repetitions of a particular value in list by using a dictionary.</li>

In [14]:
list1 = [1,2,3,3,2,1,2,1,3,2,1,2,3]

In [15]:
dict1 = {1: 0, 2: 0, 3: 0}

In [16]:
for item in list1:
    if item in dict1:
        dict1[item] += 1

In [17]:
print(dict1)

{1: 4, 2: 5, 3: 4}

#### Question

**From the given list, count the number of times each rating is repeated.(Frequency Table)**

In [18]:
ratings = ['4+', '9+', '12+', '4+', '17+', '4+', '9+', '4+', '12+', '17+', '9+',
           '4+', '12+', '9+', '12+', '4+', '17+', '4+', '12+', '12+', '17+',
           '9+', '9+', '4+', '4+', '9+', '12+', '17+', '12+', '17+']

In [19]:
ratings_set = set(ratings)
print(ratings_set)

{'17+', '9+', '4+', '12+'}

In [20]:
ratings_dict = {"17+": 0, "9+": 0, "4+": 0, "12+": 0}

In [23]:
for rat in ratings:
    if rat in ratings_dict:
        ratings_dict[rat] += 1

In [24]:
print(ratings_dict)

{'17+': 6, '9+': 7, '4+': 9, '12+': 8}

<li>We also call the number of times a unique value occurs a frequency. For this reason, we call tables like the one below frequency tables.</li>

![](images/frequency_table.png)

<li>4+ occurs 9 times, so it has a frequency of 9. 12+ has a frequency of 8. 9+ has a frequency of 7. 17+ has the lowest frequency: 6.</li>

#### Question:

**From the given list, find out the frequency table for the following:**

<ol>
    <li>Frequency count table for gender.</li>
    <li>Frequency count table for age.</li>
    <li>Frequency count table for faculty.</li>
    <li>Frequency count table for semester level.</li>
</ol>

In [46]:
student_1 = ['Ram', 'male',23, 'B.C.A', 'Seventh Semester', 78.2]
student_2 = ['Shyam','male',21,'B.C.A', 'Fifth Semester',67.5]
student_3 = ['Abhishek','male',22, 'B.Sc.Cs.It', 'Seventh Semester',82.4]
student_4 = ['Mahima','female',20, 'B.Sc.Cs.It', 'Fifth Semester',87.3]
student_5 = ['Sanjana','female',22, 'B.Sc.Cs.It', 'Seventh Semester',69.8]
student_6 = ['Prabhat', 'male',23, 'B.Sc.Cs.It', 'Seventh Semester', 80.2]
student_7 = ['Ashmita','female',21,'B.Sc.Cs.It', 'Fifth Semester',81.5]
student_8 = ['Shanti','female',22, 'B.Sc.Cs.It', 'Fifth Semester',72.4]
student_9 = ['Himal','male',20, 'B.C.A', 'Fifth Semester',78.3]
student_10 = ['Rabina','female',22, 'B.I.M', 'Seventh Semester',75.8]
student_11 = ['Kamal', 'male',23, 'B.I.M', 'Fifth Semester', 80.2]
student_12= ['Bhawana','female',21,'B.I.M', 'Third Semester',81.5]
student_13 = ['Sunil','male',22, 'B.I.M', 'Fourth Semester',72.4]
student_14= ['Nirisha','female',20, 'B.I.M', 'Fourth Semester',78.3]
student_15 = ['Sushmita','female',22, 'B.I.M', 'Third Semester',75.8]
student_16 = ['Alisha', 'female',20, 'B.A.L.L.B', 'Second Semester', 70.2]
student_17 = ['Dipen','male',23,'B.C.A', 'Fifth Semester',67.5]
student_18 = ['Purnima','female',23, 'B.A.L.L.B', 'Seventh Semester',81.4]
student_19 = ['Aastha','female',24, 'B.Sc.Cs.It', 'Fifth Semester',83.3]
student_20 = ['Pramila','female',24, 'B.Sc.Cs.It', 'Seventh Semester',79.8]
student_21 = ['Pawan', 'male',24, 'B.Sc.Cs.It', 'Third Semester', 70.2]
student_22 = ['Prakriti','female',22,'B.A.L.L.B', 'Fifth Semester',69.5]
student_23 = ['Nabina','female',23, 'B.Sc.Cs.It', 'Second Semester',77.4]
student_24 = ['Siddhant','male',23, 'B.C.A', 'Fifth Semester',78.3]
student_25 = ['Goma','female',25, 'B.A.L.L.B', 'Seventh Semester',72.8]
student_26 = ['Rijan', 'male',23, 'B.I.M', 'Fifth Semester', 81.2]
student_27 = ['Rihans','male',21,'B.C.A', 'Third Semester',86.5]
student_28 = ['Kabya','female',22, 'B.I.M', 'Second Semester',78.4]
student_29 = ['Abhi','male',20, 'B.I.M', 'Fourth Semester',71.3]
student_30 = ['Seema','female',25, 'B.I.M', 'Fifth Semester',69.8]

student_datasets = [student_1, student_2, student_3, student_4, student_5,
                    student_6, student_7, student_8, student_9, student_10,
                   student_11, student_12, student_13, student_14,student_15,
                   student_16, student_17, student_18, student_19, student_20,
                    student_21, student_22, student_23, student_24, student_25,
                   student_26, student_27, student_28, student_29, student_30]

In [47]:
gender_dict = {'male': 0, 'female': 0}

In [48]:
for std in student_datasets:
    if std[1] in gender_dict:
        gender_dict[std[1]] += 1

In [49]:
gender_dict2 = {}
for std in student_datasets:
    if std[1] not in gender_dict2:
        gender_dict2[std[1]] = 1
    else:
        gender_dict2[std[1]] += 1

In [50]:
print(gender_dict)

{'male': 13, 'female': 17}

In [51]:
print(gender_dict2)

{'male': 13, 'female': 17}

In [52]:
age_dict = {}
for std in student_datasets:
    if std[2] not in age_dict:
        age_dict[std[2]] = 1
    else:
        age_dict[std[2]] += 1

In [53]:
faculty_dict = {}
for std in student_datasets:
    if std[3] not in faculty_dict:
        faculty_dict[std[3]] = 1
    else:
        faculty_dict[std[3]] += 1

In [54]:
print(faculty_dict)

{'B.C.A': 6, 'B.Sc.Cs.It': 10, 'B.I.M': 10, 'B.A.L.L.B': 4}

In [57]:
semester_dict = {}
for std in student_datasets:
    if std[4] not in semester_dict:
        semester_dict[std[4]] = 1
    else:
        semester_dict[std[4]] += 1

In [58]:
print(semester_dict)

{'Seventh Semester': 8, 'Fifth Semester': 12, 'Third Semester': 4, 'Fourth Semester': 3, 'Second Semester': 3}