### Writing my first python program

In [1]:
print("Hello World")

Hello World

In [2]:
print(5)

5

In [3]:
print(8.9)

8.9

### Arithmetic Operations In Python

##### Ram has 5 rupees with him. He asked for 10 rupees with his mother for his lunch. How much rupees does he will have in total if his mother gives him what he ask for?

In [4]:
print(5 + 10)

15

In [11]:
print(12.6 + 3.44)

16.04

### Write a program to print the difference of any two numbers

In [5]:
print(15 - 5)

10

In [12]:
print(67.7 - 8.9)

58.800000000000004

#####  If the cost of an apple is Rs 34, what will be the cost on buying 1 kg apples if 1 kg apples contain 6 apples?

In [6]:
print(34*6)

204

### Write a program to print the square and cube of any number

In [7]:
print(5**2)

25

In [8]:
print(6**3)

216

In [10]:
print(3**8)

6561

### How to use code comments in Python?

In [15]:
# Floor Division Operation
print(56/7)

8.0

In [16]:
# Integer Division Operation
print(56//7)

8

### Simplification Rule Applied in Python

In [19]:
7+8*9/3-1+(2-3)

29.0

##### Write a program with three lines of code that performs the following arithmetical operations and displays the results (use the print() function to display the results):
<li>16ร10</li>
<li>48รท5</li>
<li>5^3</li>
 (don't type 5^3 because ^ is not the symbol for exponentiation)

In [20]:
print(16*10)

160

In [21]:
print(48/5)

9.6

In [22]:
print(5**3)

125

<h3> What is a variable? </h3>

**<li>We can store values in the computer memory. We call each storage location in the computer'smemory a variable</li>**

**<li>A variable is a symbolic name for (or reference to) information. The variable's name represents what information the variable contains.</li>**

**<li>Variables are used to store information to be referenced and manipulated in a computer program.</li>**

In [24]:
a = "result"
print(a)

result

In [ ]:
result = 3.98

![](images/variables.png)

In [25]:
name = "Prabhat"
age = 24
degree = "Bachelor"
course = "B.Sc.Cs.IT"
percent = 79.1

**<li>Here, name is the variable given to store my name.</li>**
**<li>age is the name of variable given to store my age.</li>**
**<li>degree is the name of a variable given to store information about my education background.</li>**
**<li>course is the name of a variable given to store the information about what course I was enrolled in my bachelors.</li>**
**<li>percent is the name of a variable given to store how much percentage did I achieve in my bachelor studies.</li>**

### Think of a scenario where variables can be referenced and manipulated in a computer program.

In [26]:
a = 5
b = 9
sum_ab = a + b
diff_ab = a - b
avg_sum_diff_ab = (sum_ab + diff_ab)/2

In [27]:
print(sum_ab)
print(diff_ab)
print(avg_sum_diff_ab)

14
-4
5.0

### Rules for Python variables:

**<li>A variable name must start with a letter or the underscore character.</li>**
**<li>A variable name cannot start with a number.</li>**
**<li>A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )</li>**
**<li>Variable names are case-sensitive (age, Age and AGE are three different variables)</li>**

### Question

<li>Store the value 6.99 in a variable named minecraft_cost.</li>

<li>Store the result of '1.99*1' to a variable named fruit_ninja_cost.</li>

**<li>Using the print() function, display the following:</li>**

<ul>
    
<li>The value stored in the minecraft_cost variable.</li>
    
<li>The result of adding 1.99 to the variable fruit_ninja_cost.</li>
    
<li>The result of adding fruit_ninja_cost to minecraft_cost.</li>
    
</ul>

In [28]:
minecraft_cost = 6.99
fruit_ninja_cost = 1.99*1

In [29]:
print(minecraft_cost)
print(1.99 + fruit_ninja_cost)
print(fruit_ninja_cost + minecraft_cost)

6.99
3.98
8.98

### Valid variable names

In [30]:
_apple_cost = 300
MyName = "Saurav"
age = 35
name2 = "riya"

### Invalid variable names

In [ ]:
2pm = 50
my-name = "prabhat"
pricein$ = 130
my age = 67

### Correct the given code

In [31]:
maths-score = 90
cs score = 100

SyntaxError: invalid syntax (2609713014.py, line 2)

In [32]:
maths_score = 90
cs_score = 100

### Updating Variables

**<li>The price of apple was 300 yesterday.Store the price value in 'apple_price' variable.</li>**

In [1]:
apple_price = 300

In [2]:
print(apple_price)

300

**<li>If the price of an apple increased by 20 rupees today, update the price of apple in a variable.</li>**

In [3]:
apple_price = apple_price + 20

In [4]:
print(apple_price)

320

### Syntax Shortcuts

In [10]:
a = 5

In [11]:
a += 5

In [12]:
print(a)

10

In [13]:
a-= 3
print(a)

7

In [14]:
a*= 4
print(a)

28

In [15]:
a/=4
print(a)

7.0

### Data Types

<li>The data type is an attribute that tells what kind of data that value can have.</li>
<li>We can also define data type as an attribute of a piece of data that tells a device how the end-user might interact with the data</li>
<li>Some of the common datatypes that we use in python are <b>Strings</b>, <b>Integers</b>, <b>Floats</b>, <b>Lists</b>, <b>Dictionaries</b> and <b>Tuples.</b></li>

#### Integers & Floats

In [16]:
a = 5
print(a)
print(type(a))

5
<class 'int'>

In [17]:
f = 5.7
print(f)
print(type(f))

5.7
<class 'float'>

In [18]:
list1 = [1,2,3,4,5]
print(list1)
print(type(list1))

[1, 2, 3, 4, 5]
<class 'list'>

In [19]:
dict1 = {"Name": "Prabhat", "Address": "Manigram", "Education": "B.Sc.Cs.It"}
print(dict1)
print(type(dict1))

{'Name': 'Prabhat', 'Address': 'Manigram', 'Education': 'B.Sc.Cs.It'}
<class 'dict'>

In [20]:
tuple1 = (1,2,3,4)
print(tuple1)
print(type(tuple1))

(1, 2, 3, 4)
<class 'tuple'>

In [21]:
set1 = {1,2,3,2,4,2,3}
print(set1)
print(type(set1))

{1, 2, 3, 4}
<class 'set'>

#### Verify the datatype of a variable using type() method

In [22]:
a = 5
type(a)

int

#### Question

<li>Initiate the variable <b>quantity</b> by assigning the integer value of 0.
Update the value of <b>quantity</b> by adding the float 1.5 to its current value.
You can use the += operator.</li>

<li>Assign the float 6.99 to a variable named <b>cost.</b>
Update the value of <b>cost</b> by multiplying its current value by the integer 3.
You can use the *= operator.</li>

<li>Display <b>quantity</b> and <b>cost</b> using print()</li>

In [26]:
quantity = 0
print(type(quantity))

<class 'int'>

In [27]:
quantity += 1.5

In [28]:
cost = 6.99
print(type(cost))

<class 'float'>

In [29]:
cost *= 3
print(type(cost))

<class 'float'>

In [30]:
print(quantity)
print(cost)

1.5
20.97

#### Conversion Between Types (typecasting)

<li>We can convert integers into floats and vice versa.</li>
<li>We have to use two inbuilt functions like int() and float() to do the conversion.</li>
<li>We use int() to convert float datatype into integer.</li>
<li>Similarly, we use float() to convert int datatype into float.</li>

In [34]:
float1 = 6.99
print(type(float1))
integer1 = int(float1)
print(integer1)
print(type(integer1))

<class 'float'>
6
<class 'int'>

In [35]:
integer2 = 8
print(type(integer2))
float2 = float(integer2)
print(float2)
print(type(float2))

<class 'int'>
8.0
<class 'float'>

<li>We can also convert float datatype into int by another method.</li>

**<li>Guess the method.</li>**

In [36]:
float3 = 3.1428
print(round(float3))

3

In [37]:
round1 = round(float3, 2)
print(round1)

3.14

#### Strings

<li>So far, we've only worked with int and float values. But in data science, numbers aren't the only type of data we work with.</li>

<li>We have to work with textual data and do some text analytics in data science. This is possible because of <b>string</b> datatype.</li>

<li>We can even assign numeric and float values to a string datatype.</li>

<li>String is a collection of alphabets, words or other characters.</li>

#### Different Syntax To Represent String

In [38]:
fruit_name = 'apple'
print(fruit_name)
print(type(fruit_name))

apple
<class 'str'>

In [39]:
fruit_name = "apple"
print(fruit_name)
print(type(fruit_name))

apple
<class 'str'>

In [40]:
fruit_name = """apple"""
print(fruit_name)
print(type(fruit_name))

apple
<class 'str'>

#### Escaping Special Characters

<li>Sometimes we'll need to create strings containing quotation marks, as in this example: Facebook's old motto was 'move fast and break things'.</li>
<!-- <li>We can not use double quotation mark inside a single quotation mark, similarly triple quotation mark inside a doble quotation mark is not valid.</li> -->

In [42]:
facebook_motto = "Facebook's old motto was 'move fast and break thing'"

In [43]:
print(facebook_motto)
print(type(facebook_motto))

Facebook's old motto was 'move fast and break thing'
<class 'str'>

#### Famous Sayings
โThe purpose of life is a life of purpose.โ โ Robert Byrn

In [44]:
famous_sayings = 'Robert Bryn says: "The purpose of life is a life of purpose"'

In [45]:
print(famous_sayings)
print(type(famous_sayings))

Robert Bryn says: "The purpose of life is a life of purpose"
<class 'str'>

#### Question
<li>Assign the string <b>Facebook's new motto is "move fast with stable infra."</b> to a variable named motto.</li>
<li>Display the variable motto using print()</li>

In [46]:
motto = '''Facebook's new motto is "move fast with stable infra."'''
print(motto)
print(type(motto))

Facebook's new motto is "move fast with stable infra."
<class 'str'>

#### String Concatenation

<li>We can concatenate two different string values to form a single string. This process is known as string concatenation.</li>

<li>If we want to use or display the string multiple times, we can use arithmetic operation in strings to do string concatenation.</li>

In [47]:
a = "app"
b = "le"

In [48]:
fruit = a + b
print(fruit)

apple

In [49]:
fivetimesa = a * 5
print(fivetimesa)

appappappappapp

In [53]:
a  = "My name is"
f_name = "Prabhat"
l_name = "Ale"

In [54]:
full_name = a + " " + f_name + " " + l_name

In [55]:
print(full_name)

My name is Prabhat Ale

#### Question
<li>Assign the string <b>Tiktok's rating is</b> to a variable named tiktok.</li>
<li>Assign the string 4.5 to a variable named tiktok_rating_str.</li>
<li>Concatenate the strings stored in tiktok and tiktok_rating_str to form the string <b>Tiktok's rating is 4.5</b>.
<li>Assign the concatenated string to a variable named tiktok.</li>
<li>You'll need to add a space character between Tiktok's rating is and 4.5 to avoid ending up with the string Tiktok's rating is4.5.</li>
<li>Display the tiktok variable using print()</li>

In [56]:
tiktok = "Tiktok's rating is"
tiktok_rating_str = '4.5'
tiktok = tiktok + ' ' + tiktok_rating_str
print(tiktok)
print(type(tiktok))

Tiktok's rating is 4.5
<class 'str'>

#### Concatenating string using .format() method

In [58]:
print("My age is {}".format(24))

My age is 24

In [59]:
a = 5
b = 4
s = a + b 
d = a - b
print("The sum is {}".format(s))
print("The difference is {}".format(d))

The sum is 9
The difference is 1

#### String Conversion

<li>Like we can convert float to int and vice-versa, we can also convert the string into float and int if that string is a numerical value.</li>

In [61]:
age_str = "24"
print(type(age_str))
age_int = int(age_str)
print(type(age_int))

<class 'str'>
<class 'int'>

In [62]:
marks_str = "73.7"
print(type(marks_str))
marks_float = float(marks_str)
print(type(marks_float))

<class 'str'>
<class 'float'>

#### Multiline string with triple quotation marks

In [63]:
multiline_string = """This is a multiline string.
This is the second line in a multiline string.
This is the last line in a multiline string.
"""
print(multiline_string)

This is a multiline string.
This is the second line in a multiline string.
This is the last line in a multiline string.

In [65]:
print(type(multiline_string))

<class 'str'>

#### Indexing In String

In [66]:
name = "Prabhat"
len(name)

7

In [67]:
name[0]

'P'

In [69]:
name[6]

't'

In [70]:
name[-1]

't'

## Slicing

In [71]:
name[0:3]

'Pra'

In [1]:
address = "Manigram"
address_last4 = address[-4:]
print(address_last4)

gram

In [3]:
adress_first4 = address[:4]
print(adress_first4)

Mani

In [7]:
address[0:-1:3]

'Mia'

#### Splittting In Strings(Text Splitting)

In [16]:
country = "Brazil.Br"

In [17]:
country[0:6]

'Brazil'

In [19]:
country.split('.')

['Brazil', 'Br']

In [20]:
country.split('.')[-1]

'Br'

In [21]:
country.split('.')[0]

'Brazil'

In [23]:
founder = "Ali-baba_founder.jackma"

In [24]:
founder[-6:]

'jackma'

In [26]:
founder.split('.')[1]

'jackma'

In [30]:
founder.split('-')[1].split('_')[0]

'baba'

In [34]:
founder.split('_')[1].split('.')[0]

'founder'

In [35]:
s = "Tesla_is_a_good_company"

In [37]:
s.split('_')[-2]

'good'

In [39]:
s.split('_')[0]

'Tesla'

In [41]:
s = "Tesla_is_a_good_company.in_USA"

In [43]:
s.split('_')[-1]

'USA'

In [47]:
s.split('.')[-1].split('_')[0]

'in'

In [48]:
h = "I_am.working_in.Fusemachines_Nepal.office"

In [52]:
h.split('.')[-2].split('_')[0]

'Fusemachines'

In [56]:
h.split('.')[1].split('_')[0]

'working'

#### Lists In Python

<li>A collection of data points makes up a dataset.</li>
<li>Creating a variable for each data point in our dataset would be a cumbersome process. Fortunately, we can store data more efficiently using lists.</li>

![](images/table.png)

In [57]:
header = ['track_name', 'price', 'currency', 'rating_count_tot', 'user_rating']

In [58]:
print(header)
print(type(header))

['track_name', 'price', 'currency', 'rating_count_tot', 'user_rating']
<class 'list'>

In [59]:
row1 = ['Facebook', 0.0, 'USD', 2974676, 3.5]

In [60]:
print(row1)
print(type(row1))

['Facebook', 0.0, 'USD', 2974676, 3.5]
<class 'list'>

### Length of List

<li>We can find the length of a list by using builtin function <b>len()</li>

In [61]:
length_row1 = len(row1)
print(length_row1)

5

In [62]:
print(len(header))

5

#### Indexing In List

<li>Each element (data point) in a list has a specific number associated with it โ this is an index number.</li>

<li>The indexing always starts at 0, so the first element will have the index number 0, the second element will have the index number 1, and so on.</li>

In [63]:
header = ['track_name', 'price', 'currency', 'rating_count_tot', 'user_rating']

In [72]:
list1 = ['Srijana', 'KC', 22, 'B.Sc.Cs.It', 'Divertole', 75.4]

In [73]:
len(list1)

6

In [75]:
list1.index('B.Sc.Cs.It')

3

In [74]:
list1[2]

22

In [64]:
header[1]

'price'

In [65]:
header[4]

'user_rating'

#### Question
row_1 = ['Prabhat', 24, 'Nepali', 'B.Sc.Cs.It', 79.1]

row_2 = ['Sunil', 23, 'Nepali', 'B.It', 83.2]

row_3 = ['Bhawana', 22, 'Canadian', 'B.E.Computer', 78.4]

row_4 = ['Shiva', 23, 'Australian', 'B.It', 72.5]

<br>

<li>Determine the index number of degree element 'B.It' in row_2, and store the answer as a string in a variable named degree_index.</li>
<li>Determine the index number of the age element 23 in row_4, and store the answer as an integer in a variable named age_index</li>

In [66]:
header = ['Name', 'Age', 'Nationality', 'Degree', 'Marks']

row_1 = ['Prabhat', 24, 'Nepali', 'B.Sc.Cs.It', 79.1]

row_2 = ['Sunil', 23, 'Nepali', 'B.It', 83.2]

row_3 = ['Bhawana', 22, 'Canadian', 'B.E.Computer', 78.4]

row_4 = ['Shiva', 23, 'Australian', 'B.It', 72.5]

In [68]:
bit_row2 = row_2[3]
print(bit_row2)

B.It

In [69]:
age_row4 = row_4[1]
print(age_row4)

23

In [ ]:
row 1 ma Nepali ko index nikalna xa

In [70]:
row_1.index('Nepali')

2

In [71]:
row_4.index(72.5)

4

#### Retriving values in a list(Question)

<li>Assign the second element from the list row_1 to a variable named age_1. Don't forget that the indexing starts at 0.</li>
<li>Assign the second element from the list row_2 to a variable named age_2.</li>
<li>Assign the second element from the list row_3 to a variable named age_3.</li>
<li>Assign the second element from the list row_4 to a variable named age_4.</li>
<li>Add the four numbers retrieved together and save the sum to a variable named total.</li>
<li>Divide the sum (now saved in the variable total) by 4 to get the average number of age for the first four rows. Assign the result to a variable named average.</li>

In [ ]:
header = ['Name', 'Age', 'Nationality', 'Degree', 'Marks']
row_1 = ['Prabhat', 24, 'Nepali', 'B.Sc.Cs.It', 79.1]
row_2 = ['Sunil', 23, 'Nepali', 'B.It', 83.2]
row_3 = ['Bhawana', 22, 'Canadian', 'B.E.Computer', 78.4]
row_4 = ['Shiva', 23, 'Australian', 'B.It', 72.5]

In [76]:
age_1 = row_1[1]
age_2 = row_2[1]
age_3 = row_3[1]
age_4 = row_4[1]
total=age_1+age_2+age_3+age_4
average=total/4
print(average)

23.0

In [77]:
concatenated_nationality = header[2] + ":" + row_1[2] + "," + row_2[2] + \
"," + row_3[2] + ","+ row_4[2] 
print(concatenated_nationality)

Nationality:Nepali,Nepali,Canadian,Australian

#### Negative Indexing In List

In [78]:
row_4[-1]

72.5

In [79]:
row_4[-2]

'B.It'

In [80]:
row_4[-3]

'Australian'

In [81]:
row_4[-4]

23

In [82]:
row_4[-5]

'Shiva'

#### Question
**Use the above list we used in retriving values(Question)**
<li>Assign the last element from the list row_1 to a variable named score_1. Don't forget to use negative indexing here.</li>
<li>Assign the last element from the list row_2 to a variable named score_2.</li>
<li>Assign the last element from the list row_3 to a variable named score_3.</li>
<li>Assign the last element from the list row_4 to a variable named score_4.</li>
<li>Add the four numbers retrieved together and save the sum to a variable named total_score.</li>
<li>Divide the sum (now saved in the variable total) by 4 to get the average score for the first four rows. Assign the result to a variable named average_score.</li>

In [ ]:
row_1 = ['Prabhat', 24, 'Nepali', 'B.Sc.Cs.It', 79.1]

row_2 = ['Sunil', 23, 'Nepali', 'B.It', 83.2]

row_3 = ['Bhawana', 22, 'Canadian', 'B.E.Computer', 78.4]

row_4 = ['Shiva', 23, 'Australian', 'B.It', 72.5]

In [83]:
marks_1=row_1[-1]
marks_2=row_2[-1]
marks_3=row_3[-1]
marks_4=row_4[-1]
avg=(marks_1+marks_2+marks_3+marks_4)/4
print(avg)

78.30000000000001

#### Retriving Multiple List Elements

<li>Often we need to retrieve more than one element from a list. This is where retriving multiple elements from list is useful.</li>

In [1]:
student = ["Himal Gaire", 23, "Butwal", "Bachelor", "B.C.A", "Seventh Semester"]

In [2]:
std_edu = [student[0], student[3], student[4], student[5]]
print(std_edu)

['Himal Gaire', 'Bachelor', 'B.C.A', 'Seventh Semester']

In [3]:
student[-3:]

['Bachelor', 'B.C.A', 'Seventh Semester']

![](images/movies_rating.png)

#### Question 
**For Titanic, Meet Joe Black, and The Tourist, use indexing to retrieve multiple list elements. Each list should contain the name of the movie, the reviews count (review_count_tot), and the movie rating (movie_rating). Don't forget that indexing starts at 0.**
<ol>
<li>For Titanic, assign the list to a variable named titanic_rating_data.</li>
<li>For Meet Joe Black, assign the list to a variable named mjb_rating_data.</li>
<li>For The Tourist movie, assign the list to a variable named tourist_rating_data.</li>
<li>Calculate the average user rating for Titanic, Meet Joe Black, and The Tourist using the data you stored in titanic_rating_data, mjb_rating_data, and tourist_rating_data.</li>
<li>Add the three movie ratings together and save the sum to a variable named total_ratings. Use indexing to specify the list element for movie rating.</li>
<li>Divide the total by 3 to get the average rating. Assign the result to a variable named average_rating.</li>
</ol>

In [5]:
titanic_movie = ['Titanic', 'Leonardo Decaprio', '1997', 1169835, 7.9]
jb_movie = ['Met Joe Black', 'Brad Pit', '1998', 243882, 7.3]
eot_movie = ['Edge of Tomorrow', 'Tom Cruise', '2014', 678775, 7.9]
ce_movie = ['Chennai Express', 'Sharukh Khan', '2013', 55643, 6.0]
tourist_movie = ['The Tourist', 'Johnny Deep', '2010', 244817, 6.0]

In [7]:
titanic_rating_data = [titanic_movie[0], titanic_movie[-2], titanic_movie[-1]]
print(titanic_rating_data)
mjb_rating_data = [jb_movie[0], jb_movie[-2], jb_movie[-1]]
print(mjb_rating_data)
tourist_rating_data = [tourist_movie[0], tourist_movie[-2], tourist_movie[-1]]
print(tourist_rating_data)

['Titanic', 1169835, 7.9]
['Met Joe Black', 243882, 7.3]
['The Tourist', 244817, 6.0]

In [8]:
total_ratings = titanic_rating_data[-1] + mjb_rating_data[-1] + tourist_rating_data[-1]
print(total_ratings)

21.2

In [9]:
average_ratings = total_ratings/3
print(average_ratings)

7.066666666666666

#### List Slicing

<li>We can also retrieve the first n list elements of a list by using syntax shortcuts instead of selecting element by element.</li>

<li>When we selected the first three elements, we sliced a part of the list. For this reason, we call the process of selecting a part of a list <b>list slicing.</b></li>

In [15]:
titanic_movie_last3 = titanic_movie[-3:]
print(titanic_movie_last3)

['1997', 1169835, 7.9]

In [17]:
ce_movie[0:5:4]

['Chennai Express', 6.0]

In [ ]:
[start: end: step]

In [10]:
list1 = [1,2,3,4,5,6,7,8,9,10]

In [14]:
list1[1:11:2]

[2, 4, 6, 8, 10]

**To retrieve any list slice we want, we do the following:**

<li>We identify the first and the last element of the slice.
<li>We identify the index numbers of the first and the last element of the slice.
<li>We retrieve the list slice we want by using the syntax a_list[m:n], where the following are true:</li>

<ol>
    
<li>m represents the index number of the first element of the slice.</li>
<li>n represents the index number of the last element of the slice plus one (if the last element has the index number 2, then n will be 3, if the last element has the index number 4, then n will be 5, and so on).</li>

</ol>

<!-- #### Question

<li>Select the last three elements from row_1 using a list slicing syntax shortcut. Assign the output to a variable named last_3_fb.</li>

<li>From row_5, select the list slice ['USD', 522012] using a list slicing syntax shortcut. Assign the output to a variable named minecraft_3_4.</li>

<li>Print last_3_fb and minecraft_3_4 to see the results.</li> -->

In [18]:
titanic_movie = ['Titanic', 'Leonardo Decaprio', '1997', 1169835, 7.9]
jb_movie = ['Met Joe Black', 'Brad Pit', '1998', 243882, 7.3]
eot_movie = ['Edge of Tomorrow', 'Tom Cruise', '2014', 678775, 7.9]
ce_movie = ['Chennai Express', 'Sharukh Khan', '2013', 55643, 6.0]
tourist_movie = ['The Tourist', 'Johnny Deep', '2010', 244817, 6.0]

In [19]:
titanic_movie[:3]

['Titanic', 'Leonardo Decaprio', '1997']

In [20]:
jb_movie[1:4]

['Brad Pit', '1998', 243882]

In [21]:
eot_movie[-3:]

['2014', 678775, 7.9]

#### Lists Of Lists

<li>A list that contains other lists is called a list of lists.</li>
<li>If we want to store the student profile in a dataset, we can store the values in a list of list.</li>

In [22]:
student_1 = ['Ram', 'male',23, 'B.C.A', 'Seventh Semester']
student_2 = ['Shyam','male',21,'B.C.A', 'Fifth Semester']
student_3 = ['Abhishek','male',22, 'B.Sc.Cs.It', 'Seventh Semester']
student_4 = ['Mahima','female',20, 'B.Sc.Cs.It', 'Fifth Semester']
student_5 = ['Sanjana','female',22, 'B.Sc.Cs.It', 'Seventh Semester']

In [23]:
student_datasets = [student_1, student_2, student_3, student_4, student_5]
print(student_datasets)

[['Ram', 'male', 23, 'B.C.A', 'Seventh Semester'], ['Shyam', 'male', 21, 'B.C.A', 'Fifth Semester'], ['Abhishek', 'male', 22, 'B.Sc.Cs.It', 'Seventh Semester'], ['Mahima', 'female', 20, 'B.Sc.Cs.It', 'Fifth Semester'], ['Sanjana', 'female', 22, 'B.Sc.Cs.It', 'Seventh Semester']]

#### Question

<ol>
    
<li>Create a new list of lists that stores the lists (rows) for the students that are currently studying in the fifth semester of their bachelor studies.</li>

<li>Create another new list of lists that stores the list(rows) for all female students.</li>
    
</ol>

In [24]:
fifth_sem_std  = [student_2, student_4]
print(fifth_sem_std)

[['Shyam', 'male', 21, 'B.C.A', 'Fifth Semester'], ['Mahima', 'female', 20, 'B.Sc.Cs.It', 'Fifth Semester']]

In [25]:
female_std = [student_4, student_5]
print(female_std)

[['Mahima', 'female', 20, 'B.Sc.Cs.It', 'Fifth Semester'], ['Sanjana', 'female', 22, 'B.Sc.Cs.It', 'Seventh Semester']]

In [35]:
female_std[0][2]

20

In [36]:
female_std[1][-1]

'Seventh Semester'

### Retriving Elements From List Of Lists

<li>Lists of lists are still a list, which means we can retrieve individual list elements and perform list slicing using the syntax we learned.</li>

In [26]:
fruits_dataset = [["Banana", "1 dozen", 85], ["Pineapple", "1 Kg", 140],
                  ["Apple", "1 Kg", 220], ['Orange', "1 Kg", 120]]

In [31]:
fruits_dataset[0][-1]

85

In [32]:
fruits_dataset[1][0]

'Pineapple'

In [33]:
fruits_dataset[2][1]

'1 Kg'

In [34]:
fruits_dataset[-1][-1]

120

#### Question

student_1 = ['Ram', 'male',23, 'B.C.A', 'Seventh Semester']

student_2 = ['Shyam','male',21,'B.C.A', 'Fifth Semester']

student_3 = ['Abhishek','male',22, 'B.Sc.Cs.It', 'Seventh Semester']

student_4 = ['Mahima','female',20, 'B.Sc.Cs.It', 'Fifth Semester']

student_5 = ['Sanjana','female',22. 'B.Sc.Cs.It', 'Seventh Semester']

<br>

<li>Group the above five lists of students together in a list of lists. Assign the resulting list of lists to a variable named students_dataset.</li>
<li>Calculate the average <b>age</b> of the students by retrieving the right data points from the app_data_set list of lists.</li>

<li><b>'Age'</b> is the third element of each row. You'll need to add up the <b>age</b> and then divide by the number of rows.
Assign the result to a variable named avg_age.</li>

In [37]:
student_1 = ['Ram', 'male',23, 'B.C.A', 'Seventh Semester']
student_2 = ['Shyam','male',21,'B.C.A', 'Fifth Semester']
student_3 = ['Abhishek','male',22, 'B.Sc.Cs.It', 'Seventh Semester']
student_4 = ['Mahima','female',20, 'B.Sc.Cs.It', 'Fifth Semester']
student_5 = ['Sanjana','female',22, 'B.Sc.Cs.It', 'Seventh Semester']

In [38]:
student_datasets = [student_1, student_2, student_3, student_4, student_5]
print(student_datasets)

[['Ram', 'male', 23, 'B.C.A', 'Seventh Semester'], ['Shyam', 'male', 21, 'B.C.A', 'Fifth Semester'], ['Abhishek', 'male', 22, 'B.Sc.Cs.It', 'Seventh Semester'], ['Mahima', 'female', 20, 'B.Sc.Cs.It', 'Fifth Semester'], ['Sanjana', 'female', 22, 'B.Sc.Cs.It', 'Seventh Semester']]

In [42]:
total_age = student_datasets[0][2] + student_datasets[1][2] + \
student_datasets[2][2] + student_datasets[3][2] + student_datasets[4][2]

In [45]:
average_age = total_age/len(student_datasets)
print(average_age)

21.6

#### List Concatenation Methods
<ol>
<li>We can use the '+' operator to concatenate multiple lists and create a new list.</li>
<li>We can use '*' operator if we want to repeat the elements of a list for <b>n</b> number of times.</li>
<li>insert(): It inserts the element before the given index.</li>
<li>append(): It append the elements to the end of the list.</li>
<li>extend(): It extends the list by appending elements from the iterable.</li>
</ol>

In [46]:
list1 = [1,2,3,4]
list2 = [5,6,7,8]

In [47]:
list3 = list1 + list2
print(list3)

[1, 2, 3, 4, 5, 6, 7, 8]

In [48]:
list4 = list1 * 3
print(list4)

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [49]:
list5 = [1,2,3,5,6,7]

In [50]:
list5.insert(3, 4)

In [51]:
list5

[1, 2, 3, 4, 5, 6, 7]

In [53]:
list5.insert(2, [3,3])

In [54]:
list5

[1, 2, [3, 3], 3, 4, 5, 6, 7]

**<li>While inserting into a list, you must specify index position as a first parameter and then value as another parameter.</li>**

In [55]:
list6 = [9,8,7,6]

In [56]:
list6.append(5)

In [57]:
list6

[9, 8, 7, 6, 5]

In [58]:
list7 = [3,4,5]
list8 = [6,7,8]

In [59]:
list7.extend(list8)

In [60]:
list7

[3, 4, 5, 6, 7, 8]

#### How To Delete Elements From A List
<ol>
    <li>remove(): It removes the elements based on the values of an element.</li>
    <li>pop(): It removes the elements based on the index value of an element.</li>
    <li>del[]: It also removes the elements based on the index value of an element.</li>
    <li>clear(): delete all elements from a list and make them empty</li>
</ol>

In [1]:
list1 = [1,2,3,4,5,6]

In [2]:
list1.remove(4)

In [3]:
list1

[1, 2, 3, 5, 6]

In [4]:
list1.index(5)

3

In [5]:
list1.pop(3)

5

In [6]:
list1

[1, 2, 3, 6]

In [7]:
list1.index(2)

1

In [8]:
del list1[1]

In [9]:
list1

[1, 3, 6]

In [10]:
len(list1)

3

In [11]:
list1.clear()

In [12]:
list1

[]

In [13]:
len(list1)

0

In [14]:
list2 = [1,2,3,4,6,3,7]

In [15]:
list2.remove(3)

In [16]:
list2

[1, 2, 4, 6, 3, 7]

#### Tuples

<li>Tuples are used to store multiple items in a single variable.</li>

<li>Tuples are written with round brackets.</li>


<li>Tuple items are indexed, the first item has index [0], the second item has index [1] etc.</li>

<li>Tuples are ordered, unchangeable, and allow duplicate values.</li>

<li>When we say that tuples are ordered, it means that the items have a defined order, and that order will not change.</li>

<li>Tuples are unchangeable, meaning that we cannot change, the value of items after the tuple has been created.</li>

<li>Since tuples are indexed, they can have items with the same value.</li>

<li>You can't add elements to a tuple because of their immutable property. There's no append() or extend() method for tuples.</li>

<li>You can't remove elements from a tuple, also because of their immutability. Tuples have no remove() or pop() method.</li>

In [17]:
tuple1 = (1,4,6,2,8,3)

In [18]:
tuple1[0]

1

In [19]:
tuple1[1]

4

In [20]:
tuple1[2]

6

In [22]:
tuple1[3]

2

In [24]:
tuple1[4]

8

#### Slicing In Tuples
<li>Like in list, we can also perform slicing operation in tuples to extract sequence of elements or values from a tuple.</li>

In [25]:
tuple1

(1, 4, 6, 2, 8, 3)

In [26]:
tuple1[:3]

(1, 4, 6)

In [27]:
tuple1[-3:]

(2, 8, 3)

In [29]:
tuple2 = (1,2,3,4,5,6,7,8,9,10)

In [30]:
tuple2[2::3]

(3, 6, 9)

In [31]:
list2 = [1,2,3,4,5,6,7,8,9,10]

In [32]:
list2[3] = 40

In [33]:
list2

[1, 2, 3, 40, 5, 6, 7, 8, 9, 10]

In [35]:
listfromtuple2 = list(tuple2)
print(listfromtuple2)
print(type(listfromtuple2))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
<class 'list'>

In [36]:
listfromtuple2[3] = 40

In [37]:
listfromtuple2

[1, 2, 3, 40, 5, 6, 7, 8, 9, 10]

In [38]:
tuple2 = tuple(listfromtuple2)
print(tuple2)
print(type(tuple2))

(1, 2, 3, 40, 5, 6, 7, 8, 9, 10)
<class 'tuple'>

#### How To Add New Elements To A Tuple (Concatenation In Tuple)

<li>Tuples are immutable data structures in Python, so we can not add or delete the items from the tuples created in Python like lists there is no append() or extend() function.</li> 
<li>We can add new elements to a tuple by using a '+' operator.</li>
<li>For adding multiple elements in a tuple, we can convert a tuple to a list for adding more than one items.</li>
<li>We can also use * operator to add same elements multiple times in a tuple like in list.</li>

In [39]:
tuple1 = (1,2,3)
tuple2 = (4, 5, 6)

In [40]:
tuple3 = tuple1 + tuple2
print(tuple3)

(1, 2, 3, 4, 5, 6)

In [41]:
tuple4 = tuple1 * 3
print(tuple4)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

#### count() and len()
<li>We can calculate the frequency of an item that repeats more than one time in a tuple. For doing this, we can use count() function.</li>
<li>Similarly, we can also calculate the no of items in a tuple by using len() function.</li>

In [42]:
tuple5 = (1,2,2,3,2,4,5)

In [43]:
len(tuple5)

7

In [45]:
tuple5.count(2)

3

#### Min, Max, Sum, Sorted (Functions)

In [46]:
tuple5 = (9,3,5,1,7,2,8)

In [47]:
min(tuple5)

1

In [48]:
max(tuple5)

9

In [49]:
sum(tuple5)

35

In [51]:
print(type(sorted(tuple5)))

<class 'list'>

In [52]:
sorted(tuple5)

[1, 2, 3, 5, 7, 8, 9]

#### How To Delete Element From A Tuple

In [53]:
tuple5

(9, 3, 5, 1, 7, 2, 8)

In [54]:
del tuple5

In [55]:
tuple5

NameError: name 'tuple5' is not defined

#### Set 
<li>A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements.</li>
<li>In set, we cannot perform indexing. First we have to convert that set into a list and then perform the indexing.</li>
<li>We can use set.add() method to add any new elements to the set.</li>
<li>We can typecast a set into a list.</li>

In [56]:
set1 = {3,4,5,1,8}
print(set1)
print(type(set1))

{1, 3, 4, 5, 8}
<class 'set'>

In [58]:
set1tolist = list(set1)

In [59]:
set1tolist

[1, 3, 4, 5, 8]

In [60]:
set1tolist[-1]

8

In [61]:
set2 = {4,5,5,8,2,2,9}
print(set2)
print(type(set2))

{2, 4, 5, 8, 9}
<class 'set'>

In [62]:
set3 = {8,4,2,7,2,3,8,1,2}
print(set3)
print(type(set3))

{1, 2, 3, 4, 7, 8}
<class 'set'>

#### Set Operations

<ol>
<li><b>Insertion</b> : We can add new elements in a set by using <b>add()</b> method.Insertion in set is done through <b>set.add()</b> function.</li>
    <li><b>Union</b> : Two sets can be merged using <b>union()</b> function or <b>|</b> operator. This operation combines the elements of two sets and removes the duplicate elements since duplication is not allowed in a set.</li>
<li><b>Intersection</b>: This operation can be done through intersection() or & operator. Common Elements are selected.</li>
<li><b>Set Difference</b>: To find difference in between sets, this can be done through difference() or โ operator.</li>
<li><b>Clear:</b>: Set <b>clear()</b> method empties the whole set inplace.</b>
</ol>

In [63]:
set1 = {4,7,2,9,3,8}
set1.add(6)
print(set1)

{2, 3, 4, 6, 7, 8, 9}

In [74]:
set1 = {4,7,2,9,3,8}
set2 = {5,8,11,10,0,12}

In [75]:
set1 | set2

{0, 2, 3, 4, 5, 7, 8, 9, 10, 11, 12}

In [66]:
set1.union(set2)

{0, 2, 3, 4, 5, 7, 8, 9, 10, 11, 12}

In [67]:
set1.intersection(set2)

{8}

In [76]:
set1 & set2

{8}

In [68]:
set1.difference(set2)

{2, 3, 4, 7, 9}

In [77]:
set1 - set2

{2, 3, 4, 7, 9}

In [69]:
set2.difference(set1)

{0, 5, 10, 11, 12}

In [78]:
set2 - set1

{0, 5, 10, 11, 12}

In [70]:
set1.clear()

In [71]:
set1

set()

In [72]:
set2.clear()

In [73]:
set2

set()

#### Dictionary

<li>A dictionary is a collection which is ordered, changeable and do not allow duplicates.</li>
<li>A dictionary is a collection of keys values, used to store data values.</li>
<li>In Python, a dictionary can be created by placing a sequence of elements within curly {} braces, separated by โcommaโ.</li>
<li>Dictionary holds pairs of values, one being the Key and the other is value associated with a particular key.</li> 
<li>Values in a dictionary can be of any data type and can be duplicated, whereas keys canโt be repeated and must be immutable.</li>
<li>Dictionary keys are case sensitive, the same name but different cases of Key will be treated differently.</li>

In [8]:
dict1 = {"fname": "Prabhat", "lname": "Ale", "Adress": 'Butwal', 
         'Education': 'B.Sc.Cs.It', 'age': 24, 'height': 1.58}

In [9]:
print(dict1)
print(type(dict1))

{'fname': 'Prabhat', 'lname': 'Ale', 'Adress': 'Butwal', 'Education': 'B.Sc.Cs.It', 'age': 24, 'height': 1.58}
<class 'dict'>

In [10]:
dict1['fname']

'Prabhat'

In [11]:
dict1['Adress']

'Butwal'

In [12]:
dict1['Education']

'B.Sc.Cs.It'

In [13]:
dict1.keys()

dict_keys(['fname', 'lname', 'Adress', 'Education', 'age', 'height'])

In [14]:
dict1.values()

dict_values(['Prabhat', 'Ale', 'Butwal', 'B.Sc.Cs.It', 24, 1.58])

#### Question

<li>Map content ratings to their corresponding numbers by recreating the dictionary above: <b>{'4+': 4433, '9+': 987, '12+': 1155, '17+': 622}.</b></li>
<li>Assign the dictionary to a variable named content_ratings.</li>
<li>Print content_ratings, and examine the output carefully.</li>

In [15]:
content_ratings = {"4+": 4433, "9+": 987, '12+': 1155, '17+': 622}

In [16]:
print(content_ratings)

{'4+': 4433, '9+': 987, '12+': 1155, '17+': 622}

#### Indexing & Accessing Elements In A Dictionary

In [20]:
content_ratings['9+']

987

In [21]:
content_ratings.keys()

dict_keys(['4+', '9+', '12+', '17+'])

In [22]:
content_ratings.values()

dict_values([4433, 987, 1155, 622])

#### Question
<li>Retrieve values from the content_ratings dictionary.</li>
<li>Assign the value at index '9+' to a variable named over_9.</li>
<li>Assign the value at index '17+' to a variable named over_17.</li>
<li>Print over_9 and over_17.</li>

In [23]:
content_ratings = {"4+": 4433, "9+": 987, '12+': 1155, '17+': 622}

In [24]:
over_9 = content_ratings['9+']
over_17 = content_ratings['17+']

In [25]:
print(over_9)
print(over_17)

987
622

#### Dictionaries Within A Dictionary

<li> We can also create a dictionary within a dictionary.</li>

In [27]:
student_details = {'Dict1': {'name': 'Prabhat Ale', 'address': 'Butwal', 'age': 23},
'Dict2':{'name': 'Sunil Ghimire', 'address': 'Kathmandu', 'age': 24}
}

In [28]:
print(student_details)

{'Dict1': {'name': 'Prabhat Ale', 'address': 'Butwal', 'age': 23}, 'Dict2': {'name': 'Sunil Ghimire', 'address': 'Kathmandu', 'age': 24}}

#### Accessing a dictionary and its elements in Dictionary loops

In [29]:
prabhat_details = student_details['Dict1']
print(prabhat_details)

{'name': 'Prabhat Ale', 'address': 'Butwal', 'age': 23}

In [30]:
sunil_details = student_details['Dict2']
print(sunil_details)

{'name': 'Sunil Ghimire', 'address': 'Kathmandu', 'age': 24}

In [31]:
sunil_details['address']

'Kathmandu'

In [32]:
prabhat_details['address']

'Butwal'

In [33]:
student_details['Dict1']['age']

23

In [34]:
student_details['Dict2']['age']

24

#### Alternative Methods For Creating A Dictionary


**Alternatively, we can create a dictionary and populate it with values by following these steps:**
<ol>
    <li>Create an empty dictionary.</li>
    <li>Add values one by one to that empty dictionary.</li>
<li>Adding a value to a dictionary follows the pattern dictionary_name[index] = value. To add a value 24 with an index 'Prabhat' to a dictionary named age, we need to use the code age['Prabhat'] = 24.</li>

In [ ]:
{'name': 'Sunil Ghimire', 'address': 'Kathmandu', 'age': 24}

In [35]:
dict2 = {}

In [36]:
dict2['name'] = 'Prabhat Ale'

In [37]:
dict2

{'name': 'Prabhat Ale'}

In [38]:
dict2['address'] = 'Butwal'

In [39]:
dict2

{'name': 'Prabhat Ale', 'address': 'Butwal'}

In [40]:
dict2['age'] = 24

In [41]:
dict2

{'name': 'Prabhat Ale', 'address': 'Butwal', 'age': 24}

#### Question
**Similarly, like we did above; first instantiate an empty dictionary and then create a dictionary with name fvt_colors where you have to specify the favourite colors for five different persons(students).**

In [42]:
fvt_colors = {}

In [44]:
fvt_colors['Sashi'] = 'Black'
fvt_colors['Devasish'] = 'White'
fvt_colors['Nabin'] = 'Blue'
fvt_colors['Shinjo'] = 'Purple'
fvt_colors['Bishal'] = 'Yellow'

In [45]:
print(fvt_colors)

{'Sashi': 'Black', 'Devasish': 'White', 'Nabin': 'Blue', 'Shinjo': 'Purple', 'Bishal': 'Yellow'}

In [47]:
fvt_colors.values()

dict_values(['Black', 'White', 'Blue', 'Purple', 'Yellow'])

In [46]:
fvt_colors.keys()

dict_keys(['Sashi', 'Devasish', 'Nabin', 'Shinjo', 'Bishal'])

#### Rules Of A Dictionary
<li>Dictionary values can be of any data type: strings, integers, floats, Booleans, lists, and even dictionaries.</li>
<li>Dictionary keys can be almost any data type, except lists and dictionaries. If we use lists or dictionaries as dictionary keys, we'll get an error.</li>

In [48]:
dict_rules1 = {'string': 'hello', 'integer': 5, 'float': 4.5,
             'boolean': True, 'list': [1,2,3],
             'dict': {'1+':2, '2+': 5}}

In [49]:
print(dict_rules1)

{'string': 'hello', 'integer': 5, 'float': 4.5, 'boolean': True, 'list': [1, 2, 3], 'dict': {'1+': 2, '2+': 5}}

In [50]:
dict_rules2 = {'string': 'hello', 5: 4, 4.5: 5.6, True: False}

In [51]:
print(dict_rules2)

{'string': 'hello', 5: 4, 4.5: 5.6, True: False}

#### Question
**Check the following code and say whether it will give us an error or not. If it outputs to error then correct the code.**

In [52]:
dictionary = {4: 'four',
1.5: 'one point five',
'string_key': 'string_value',
True: 'True',
[1,2,3]: 'a list',
{10: 'ten'}: 'a dictionary'}

TypeError: unhashable type: 'list'

In [57]:
dictionary2 = {4: 'four',
1.5: 'one point five',
'string_key': 'string_value',
True: 'True',
'a list': [1,2,3],
'a dictionary': {10: 'ten'}}

#### Calculating the length of a dictionary.

<li>This can be done by using a len() built in method. This will give you the number of key:value pairs that exists in a dictionary.</li>

In [58]:
a = 'ababababa'
b = [2.3,4,5,7,2,4]
print(len(a))
print(len(b))

9
6

In [60]:
len(dictionary2)

6

#### Check the following code and say what output will it give. 
<li>What will be the length of the given dictionary?</li>
<li>What will be the value of a dictionary?</li>

In [61]:
d_1 = {'a_key': 1,
       'another_key': 2,
       'a_key': 3,
       'yet_another_key': 4,
       'a_key': 5}

In [62]:
print(d_1)

{'a_key': 5, 'another_key': 2, 'yet_another_key': 4}

In [63]:
print(len(d_1))

3

#### Dictionary Methods
<ol>
    <li>clear() โ Remove all the elements from the dictionary</li>
    <li>copy() โ Returns a copy of the dictionary</li>
    <li>get() โ Returns the value of specified key</li>
    <li>items() โ Returns a list containing a tuple for each key value pair</li>
    <li>keys() โ Returns a list containing dictionaryโs keys</li>
    <li>pop() โ Remove the element with specified key</li>
    <li>popitem() โ Removes the last inserted key-value pair.</li>
    <li>update() โ Updates dictionary with specified key-value pairs</li>
    <li>values() โ Returns a list of all the values of dictionary.</li>
</ol>

In [64]:
dict1 = {'name': 'prabhat',
         'age': 23,
         'location': 'manigram',
         'level': 'bachelor',
         'faculty': 'B.Sc.Cs.It',
         'weight': 70,
         'height': '5ft 5inch'}

In [65]:
print(dict1)

{'name': 'prabhat', 'age': 23, 'location': 'manigram', 'level': 'bachelor', 'faculty': 'B.Sc.Cs.It', 'weight': 70, 'height': '5ft 5inch'}

In [66]:
dict2 = dict1.copy()
print(dict2)

{'name': 'prabhat', 'age': 23, 'location': 'manigram', 'level': 'bachelor', 'faculty': 'B.Sc.Cs.It', 'weight': 70, 'height': '5ft 5inch'}

In [67]:
dict2.clear()

In [68]:
print(dict2)

{}

In [69]:
dict1.get('weight')

70

In [70]:
dict1['weight']

70

In [71]:
dict1.items()

dict_items([('name', 'prabhat'), ('age', 23), ('location', 'manigram'), ('level', 'bachelor'), ('faculty', 'B.Sc.Cs.It'), ('weight', 70), ('height', '5ft 5inch')])

In [72]:
dict1.keys()

dict_keys(['name', 'age', 'location', 'level', 'faculty', 'weight', 'height'])

In [73]:
dict1.values()

dict_values(['prabhat', 23, 'manigram', 'bachelor', 'B.Sc.Cs.It', 70, '5ft 5inch'])

In [74]:
dict1.pop('height')

'5ft 5inch'

In [75]:
print(dict1)

{'name': 'prabhat', 'age': 23, 'location': 'manigram', 'level': 'bachelor', 'faculty': 'B.Sc.Cs.It', 'weight': 70}

In [76]:
dict1.popitem()

('weight', 70)

In [77]:
print(dict1)

{'name': 'prabhat', 'age': 23, 'location': 'manigram', 'level': 'bachelor', 'faculty': 'B.Sc.Cs.It'}

In [78]:
dict1['age'] = 24

In [79]:
print(dict1)

{'name': 'prabhat', 'age': 24, 'location': 'manigram', 'level': 'bachelor', 'faculty': 'B.Sc.Cs.It'}

In [80]:
dict1.update({"location": "Butwal"})

In [81]:
print(dict1)

{'name': 'prabhat', 'age': 24, 'location': 'Butwal', 'level': 'bachelor', 'faculty': 'B.Sc.Cs.It'}