#### Functions

<li>A function is a block of code which only runs when it is called.</li>
<li>You can also pass data, known as parameters, into a function.</li>
<li>Generally, a function displays the following pattern:</li>
<ol>
    <li>It takes in an input.</li>
    <li>It processes that input.</li>
    <li>It returns output.</li>
</ol>

#### Types Of Functions:
<ol>
    <li>Builtin Functions:</li>
    <ul>
        <li>The Python built-in functions are defined as the functions whose functionality is pre-defined in Python.</li>
         <li>The python interpreter has several functions that are always present for use. These functions are known as <b>Built-in Functions</b>.</li>
        <li>There are several built-in functions in Python which are listed below:</li>
        <ol>
            <li>len()</li>
            <li>int()</li>
            <li>type()</li>
            <li>float()</li>
            <li>sum()</li>
            <li>min()</li>
            <li>max()</li>
            <li>abs()</li>
            <li>list()</li>
            <li>set()</li>
            <li>tuple()</li>
            <li>float()</li>
            <li>str()</li>
            <li>sorted()</li>
            <li>round()</li>
            <li>reverse()</li>
        </ol>
    </ul>
<li>User Defined Functions:
    <ul>
        <li>User Defined Functions is a function in Python that allows users to write custom logic that the user defines.</li>
        <li>In Python, def keyword is used to declare user defined functions.</li>
    </ul>
</li>
</ol>

In [1]:
a = {"name": "bijay", "semester": "Seven"}
print(type(a))

<class 'dict'>

In [3]:
b = [1,2,3,4,5]
print(max(b))

5

In [5]:
c = [5,3,6,2,9,1]
sorted(c)

[1, 2, 3, 5, 6, 9]

In [4]:
abs(-5)

5

#### Built-In Functions(Questions)

**Compute the sum of a_list (already defined in the code editor) without using sum().**

<li>Initialize a variable named sum_manual with a value of 0.</li>
<li>Loop through a_list, and for each iteration add the current number to sum_manual.</li>
<li>Print sum_manual and sum(a_list) to see if the values are the same.</li>
<li>Calculate the length of the list and store in a variable len_list and display its length.</li>

In [7]:
a_list = [4444, 8897, 6340, 9896, 4835, 4324, 10, 6445,
          661, 1246, 1000, 7429, 1376, 8121, 647, 1280,
          3993, 4881, 9500, 6701, 1199, 6251, 4432, 37]

In [8]:
sum_manual = 0
for item in a_list:
    sum_manual += item

In [9]:
print(sum_manual)
print(sum(a_list))

103945
103945

#### User Defined Function

![](images/func_structure.png)

<li>We commonly call input variables like a_number parameters. So, <b>a_number</b> is a <b>parameter</b> of the square() function.</li>
<li>When the parameter <b>a_number</b> takes a value (like 6 in <b>square(a_number=6)</b>), we call that value an <b>argument.</b></li>

#### UserDefined (Function With No Return Type)

<li>A function can return any value based on computations performed inside a function or it doesnot return any value.If a function doesnot return any value then such kind of function is known as function with no return type.</li>


<code>
    def func_name():
        statement//
</code>

In [10]:
def display_name():
    print("My name is Prabhat Ale")

In [11]:
display_name()

My name is Prabhat Ale

#### Parameterized Function

<li>The function may take arguments(s) also called parameters as input within the opening and closing parentheses, just after the function name followed by a colon.</li>

<code>
    def func_name(arg1, arg2):
        statement//
        .
        .
        return val
</code>

In [12]:
def square_num(num):
    result = num * num
    return result

In [13]:
square_result = square_num(5)
print(square_result)

25

#### Function With Default Argument

<li>A default argument is a parameter that assumes a default value if a value is not provided in the function call for that argument.</li>

In [14]:
def square_num(num = 7):
    result = num* num
    return result

In [15]:
square_result2 = square_num()
print(square_result2)

49

In [16]:
def multiplication(num1, num2 = 5):
    product = num1 * num2
    return product

In [17]:
product = multiplication(4)
print(product)

20

#### Question

<li>Recreate the cube() function above and compute the cube for numbers 5 and  6.</li>
<li>Assign the cube of 5 to a variable named cube_5.</li>
<li>Assign the cube of 6 to a variable named cube_6.</li>

In [20]:
def cube(num):
    cube_value = num ** 3
    return cube_value

In [21]:
cube_5 = cube(5)
cube_6 = cube(6)
print(cube_5)
print(cube_6)

125
216

#### Question

**Create a function named mul_5() that does the following:**
<ol>
    <li>Takes a number as the input (name the input variable as you wish)</li>
    <li>Multiply the integer 5 to that number.</li>
    <li>Returns the result of the multiplication.</li>
<ol>

<li>Use the mul_5() function to do the following:</li>
<ol>
    <li>Multiply by 5 to the number 20 — assign the result to a variable named mul_20</li>
    <li>Multiply by 5 to the number 16 — assign the result to a variable named mul_16</li>
</ol>

In [23]:
def num_input(number):
    return number*5

In [24]:
mul_20=num_input(20)
mul_16=num_input(16)

In [25]:
print(mul_20)
print(mul_16)

100
80

#### Keyword arguments
<li>The idea is to allow programmer to specify argument name with values so that caller does not need to remember order of parameters.</li>

In [26]:
def subtraction(num1, num2):
    return num1 - num2

In [27]:
subtraction1 = subtraction(num1 = 15, num2 = 5)
print(subtraction1)

10

In [28]:
def displayname(l_name, f_name):
    print("My name is {} {}".format(f_name, l_name))

In [30]:
displayname(f_name = 'prabhat',l_name = 'ale')

My name is prabhat ale

#### Variable length arguments

<li>We can have both normal and keyword variable number of arguments. </li>
 
<li>The special syntax *args in function definitions in Python is used to pass a variable number of arguments to a function.</li>
<li>It is used to pass a non-keyworded, variable-length argument list.</li>
 
<li>The special syntax **kwargs in function definitions in python is used to pass a keyworded, variable-length argument list.</li>
<li>We use the name kwargs with the double star. The reason is because the double star allows us to pass through keyword arguments (any number of them).</li>

In [35]:
def non_key_argument(*args):
    for item in args:
        print(item)

In [36]:
non_key_argument(1,2,3,4,5,6)

1
2
3
4
5
6

In [45]:
def keyword_argument(**kwargs):
    for key, val in kwargs.items():
        print("The key is {} and the value is {}".format(key, val))

In [47]:
keyword_argument(f_name = "Sher", m_name = "Bahadur",l_name = "Thapa")

The key is f_name and the value is Sher
The key is m_name and the value is Bahadur
The key is l_name and the value is Thapa

#### Call By Reference Or Call By Value

<li>In Python, every variable name is a reference. When we pass a variable to a function, a new reference to the object is created.</li>
<li>To confirm this Python’s built-in id() function is used.</li>

In [48]:
a = 2

In [51]:
def increment(a):
    print(id(a))
    a+= 1
    print(id(a))

In [53]:
increment(a)

140718537496336
140718537496368

In [54]:
a

2

In [66]:
list1 = [1,2,3,4]

In [67]:
def empty_list(list1):
    print(id(list1))
    list1 = []
    print(id(list1))

In [68]:
empty_list(list1)

2208067324096
2208067268544

In [69]:
list1

[1, 2, 3, 4]

In [70]:
def append_list(list1):
    print(id(list1))
    list1.append(5)
    print(id(list1))

In [71]:
append_list(list1)

2208067324096
2208067324096

In [64]:
list1

[1, 2, 3, 4, 5]

#### Question:

**We provided a function called date() in the code editor. This function currently takes inputs month and day and returns them together in a string. We want the date() function to return the year as well as the month and day.**

<li>Modify the date() function to add a year parameter:</li>
<ol>
    <li>Edit the string so that it displays the date in the format month day, year.</li>
    <li>Convert both the year and day variables to strings using the str() function.</li>
<li>Call and print the date() function and pass the appropriate arguments to produce the following outputs:</li>
    <ol>
    <li>July 15, 2006</li>
    <li>February 4, 2004</li>
    <li>June 9, 1949</li>
    </ol>
</ol>

In [72]:
def date(month, day):
    return month + " " + str(day)

In [73]:
date(month = "December", day = 13)

'December 13'

In [77]:
def date_with_year(year, month, day):
    return month + " " + str(day) + "," + str(year)

In [78]:
first_date = date_with_year(2006, "July", 15)
second_date = date_with_year(2004, "February", 4)
third_date = date_with_year(1949, "June", 9)

In [79]:
print(first_date)
print(second_date)
print(third_date)

July 15,2006
February 4,2004
June 9,1949

In [2]:
header = ['Name', 'Gender', 'Age', 'Faculty', 'Semester', 'Percentage Score']
student_1 = ['Ram', 'male',23, 'B.C.A', 'Seventh Semester', 78.2]
student_2 = ['Shyam','male',21,'B.C.A', 'Fifth Semester',67.5]
student_3 = ['Abhishek','male',22, 'B.Sc.Cs.It', 'Seventh Semester',82.4]
student_4 = ['Mahima','female',20, 'B.Sc.Cs.It', 'Fifth Semester',87.3]
student_5 = ['Sanjana','female',22, 'B.Sc.Cs.It', 'Seventh Semester',69.8]
student_6 = ['Prabhat', 'male',23, 'B.Sc.Cs.It', 'Seventh Semester', 80.2]
student_7 = ['Ashmita','female',21,'B.Sc.Cs.It', 'Fifth Semester',81.5]
student_8 = ['Shanti','female',22, 'B.Sc.Cs.It', 'Fifth Semester',72.4]
student_9 = ['Himal','male',20, 'B.C.A', 'Fifth Semester',78.3]
student_10 = ['Rabina','female',22, 'B.I.M', 'Seventh Semester',75.8]
student_11 = ['Kamal', 'male',23, 'B.I.M', 'Fifth Semester', 80.2]
student_12= ['Bhawana','female',21,'B.I.M', 'Third Semester',81.5]
student_13 = ['Sunil','male',22, 'B.I.M', 'Fourth Semester',72.4]
student_14= ['Nirisha','female',20, 'B.I.M', 'Fourth Semester',78.3]
student_15 = ['Sushmita','female',22, 'B.I.M', 'Third Semester',75.8]
student_16 = ['Alisha', 'female',20, 'B.A.L.L.B', 'Second Semester', 70.2]
student_17 = ['Dipen','male',23,'B.C.A', 'Fifth Semester',67.5]
student_18 = ['Purnima','female',23, 'B.A.L.L.B', 'Seventh Semester',81.4]
student_19 = ['Aastha','female',24, 'B.Sc.Cs.It', 'Fifth Semester',83.3]
student_20 = ['Pramila','female',24, 'B.Sc.Cs.It', 'Seventh Semester',79.8]
student_21 = ['Pawan', 'male',24, 'B.Sc.Cs.It', 'Third Semester', 70.2]
student_22 = ['Prakriti','female',22,'B.A.L.L.B', 'Fifth Semester',69.5]
student_23 = ['Nabina','female',23, 'B.Sc.Cs.It', 'Second Semester',77.4]
student_24 = ['Siddhant','male',23, 'B.C.A', 'Fifth Semester',78.3]
student_25 = ['Goma','female',25, 'B.A.L.L.B', 'Seventh Semester',72.8]
student_26 = ['Rijan', 'male',23, 'B.I.M', 'Fifth Semester', 81.2]
student_27 = ['Rihans','male',21,'B.C.A', 'Third Semester',86.5]
student_28 = ['Kabya','female',22, 'B.I.M', 'Second Semester',78.4]
student_29 = ['Abhi','male',20, 'B.I.M', 'Fourth Semester',71.3]
student_30 = ['Seema','female',25, 'B.I.M', 'Fifth Semester',69.8]

student_datasets = [header, student_1, student_2, student_3, student_4, student_5,
                    student_6, student_7, student_8, student_9, student_10,
                   student_11, student_12, student_13, student_14,student_15,
                   student_16, student_17, student_18, student_19, student_20,
                    student_21, student_22, student_23, student_24, student_25,
                   student_26, student_27, student_28, student_29, student_30]

#### Question: Write a function named extract() that can extract any column you want from the student_datasets.
<ol>
<li>The function should take in the index number of a column as input (name the parameter whatever you want)</li>
<li>Inside the function's definition, complete the following:</li>
<ol>
    <li>Create an empty list</li>
    <li>Loop through the student_datasets dataset (excluding the header).</li>
    <li>Extract only the value you want by using the parameter (which will be an index number)</li>
    <li>Append that value to the empty list</li>
    <li>Return the list containing the values of the column</li>
</ol>
<li>Use the extract() function to extract the values in the Faculty column and store them in a variable named faculties.</li>
<li>Use the extract() function to extract the values in the Semester column and store them in a variable named semesters.</li>
</ol>

In [3]:
student_datasets[1]

['Ram', 'male', 23, 'B.C.A', 'Seventh Semester', 78.2]

In [91]:
def extract(index_num):
    
    empty_list = []
    for item in student_datasets[1:]:
        empty_list.append(item[index_num])
    return empty_list

In [92]:
faculty_data = extract(3)
print(faculty_data)

['B.C.A', 'B.C.A', 'B.Sc.Cs.It', 'B.Sc.Cs.It', 'B.Sc.Cs.It', 'B.Sc.Cs.It', 'B.Sc.Cs.It', 'B.Sc.Cs.It', 'B.C.A', 'B.I.M', 'B.I.M', 'B.I.M', 'B.I.M', 'B.I.M', 'B.I.M', 'B.A.L.L.B', 'B.C.A', 'B.A.L.L.B', 'B.Sc.Cs.It', 'B.Sc.Cs.It', 'B.Sc.Cs.It', 'B.A.L.L.B', 'B.Sc.Cs.It', 'B.C.A', 'B.A.L.L.B', 'B.I.M', 'B.C.A', 'B.I.M', 'B.I.M', 'B.I.M']

In [93]:
semester_data = extract(4)
print(semester_data)

['Seventh Semester', 'Fifth Semester', 'Seventh Semester', 'Fifth Semester', 'Seventh Semester', 'Seventh Semester', 'Fifth Semester', 'Fifth Semester', 'Fifth Semester', 'Seventh Semester', 'Fifth Semester', 'Third Semester', 'Fourth Semester', 'Fourth Semester', 'Third Semester', 'Second Semester', 'Fifth Semester', 'Seventh Semester', 'Fifth Semester', 'Seventh Semester', 'Third Semester', 'Fifth Semester', 'Second Semester', 'Fifth Semester', 'Seventh Semester', 'Fifth Semester', 'Third Semester', 'Second Semester', 'Fourth Semester', 'Fifth Semester']

#### Question: Write a function named freq_table() that generates a frequency table for any list.

<li>The function should take in a list as input.</li>
<li>Inside the function's body, write code that generates a frequency table for that list and stores the table in a dictionary.</li>
<li>Finally, return the frequency table as a dictionary.</li>
<li>Use the freq_table() function on the faculties list (already defined from the previous exercise) to generate the frequency table for the faculites column and store the frequency table to a variable named faculties_ft.</li>
<li>Feel free to experiment with the extract() and freq_table() functions to easily create frequency tables for any column you want.</li>

In [94]:
def freq_table(input_list):
    freq_dict = {}
    for item in input_list:
        if item not in freq_dict:
            freq_dict[item] = 1
        else:
            freq_dict[item] += 1
    return freq_dict

In [95]:
faculties_ft = freq_table(input_list = faculty_data)
print(faculties_ft)

{'B.C.A': 6, 'B.Sc.Cs.It': 10, 'B.I.M': 10, 'B.A.L.L.B': 4}

In [96]:
semester_ft = freq_table(input_list = semester_data)
print(semester_ft)

{'Seventh Semester': 8, 'Fifth Semester': 12, 'Third Semester': 4, 'Fourth Semester': 3, 'Second Semester': 3}

#### Write a function named freq_table() that generates a frequency table for any column in our student_datasets.

<ol>
<li>The function should take the index number of a column in as an input (name the parameter however you want).</li>
<li>Inside the function's body, complete the following:</li>
<ol>   
    <li>Loop through the student_datasets (don't include the header row) and extract the value you want by using the parameter;     which will be an index number.</li>
    <li>Build the frequency table as a dictionary.</li>
    <li>The function should return the frequency table as a dictionary.</li>
</ol>
<li>Use the freq_table() function to generate a frequency table for the Age column . Store the table in a variable named age_ft.</li>
</ol>

In [4]:
student_datasets[1]

['Ram', 'male', 23, 'B.C.A', 'Seventh Semester', 78.2]

In [102]:
def freq_table(index_num):
    freq_dict = {}
    for item in student_datasets[1:]:
        if item[index_num] not in freq_dict:
            freq_dict[item[index_num]] = 1
        else:
            freq_dict[item[index_num]] += 1
    return freq_dict

In [103]:
age_ft = freq_table(index_num = 2)
print(age_ft)

{23: 8, 21: 4, 22: 8, 20: 5, 24: 3, 25: 2}

In [104]:
faculty_ft = freq_table(index_num = 3)
print(faculty_ft)

{'B.C.A': 6, 'B.Sc.Cs.It': 10, 'B.I.M': 10, 'B.A.L.L.B': 4}

#### Reusability & Multiple Parameters

<li>Iterating over student_datasets inside the function's definition limits us to using freq_table() only for the student_datasets.</li>
<li>If we had another dataset or wanted to save the function to use later for another project, freq_table() would be useless because it iterates only over the student_datasets variable.</li>
<li>One of the aspects of functions that make them great is reusability.</li>
<li.We generally use functions to automate repetitive tasks, so a function isn't worthwhile if we can't reuse it for the various instances of a certain kind of task.</li>
<li>Our freq_table() function is currently reusable only with respect to the columns we may want to generate the frequency tables for.</li>
<li>We need to increase its reusability by making it reusable with respect to both columns and datasets.</li>

**How can we do that?**

In [117]:
header = ['Movie Name','Genre', 'Lead Actor', 'Released Year', 'No of ratings', 'Avg Rating']
movie1 = ['Titanic','Romantic', 'Leonardo Decaprio', '1997', 1169835, 7.9]
movie2 = ['Met Joe Black','Romantic', 'Brad Pit', '1998', 243882, 7.3]
movie3 = ['Edge of Tomorrow','Sci-Fiction', 'Tom Cruise', '2014', 678775, 7.9]
movie4 = ['Chennai Express', 'Action', 'Sharukh Khan', '2013', 55643, 6.0]
movie5 = ['The Tourist', 'Mystery', 'Johnny Deep', '2010', 244817, 6.0]
movie6 = ['Romie + Juliet','Romantic', 'Leonardo Decaprio', '1996', 230832, 6.7]
movie7 = ['Fight Club','Action', 'Brad Pit', '1999', 2115606 , 8.8]
movie3 = ['Mission Impossible - Fallout','Action', 'Tom Cruise', '2018', 333634, 7.7]
movie8 = ['Don2', 'Action', 'Sharukh Khan', '2011', 53731, 7.0]
movie9 = ['Pirates of the Caribbean: Dead Men Tell No Tales', 'Action', 'Johnny Deep', '2017', 313199, 6.5]
movie10 = ['Enemy', 'Mystery', 'Jake Gyllenhaal', '2013', 195742, 6.9]
movie11 = ['Chocolat','Romantic', 'Johnny Deep', '2000', 193148, 7.3]
movie12 = ['Source Code','Sci-Fiction', 'Jake Gyllenhaal', '2011', 522197, 7.5]
movie13 = ['Ra-One','Sci-Fiction', 'Sharukh Khan', '2011', 43296, 4.7]
movie14 = ['Inception', 'Action', 'Leonardo Decaprio', '2010', 2342560, 8.8]
movie15 = ['Jack Reacher', 'Mystery', 'Tom Cruise', '2012', 343395 , 7.0]
movie_datasets = [header, movie1, movie2, movie3, movie4, movie5,
                    movie6, movie7, movie8, movie9, movie10,
                   movie11, movie12, movie13, movie14,movie15]

In [118]:
def freq_table(datasets,index_num):
    freq_dict = {}
    for item in datasets[1:]:
        if item[index_num] not in freq_dict:
            freq_dict[item[index_num]] = 1
        else:
            freq_dict[item[index_num]] += 1
    return freq_dict

In [119]:
movie_genre_count = freq_table(datasets = movie_datasets, index_num = 1)
print(movie_genre_count)

{'Romantic': 4, 'Action': 6, 'Mystery': 3, 'Sci-Fiction': 2}

In [120]:
student_gender_count = freq_table(datasets = student_datasets, index_num = 1)
print(student_gender_count)

{'male': 13, 'female': 17}

#### Question On Keyword and Positional Arguments
<ol>
<li>Use positional arguments when you generate the table for the Genre column. Assign the table to a variable named genre_ft.</li>
<li>Use keyword arguments for the 'Lead Actor' column following the order (index, data_set). Assign the table to a variable named actor_ft.</li>
</ol>

In [121]:
genre_ft = freq_table(movie_datasets, 1)
print(genre_ft)

{'Romantic': 4, 'Action': 6, 'Mystery': 3, 'Sci-Fiction': 2}

In [122]:
lead_actor_ft = freq_table(datasets = movie_datasets, index_num =  2)
print(lead_actor_ft)

{'Leonardo Decaprio': 3, 'Brad Pit': 2, 'Tom Cruise': 2, 'Sharukh Khan': 3, 'Johnny Deep': 3, 'Jake Gyllenhaal': 2}

#### Combining Functions

<li>When we write a function, it's common to use other functions inside the body of the function we're creating.</li>
<li>Let's say we want to write a function named mean(), that takes in a list of numbers and returns the mean of that list.</li>
<li>To get the mean of a list, we need to compute its sum and then divide the result by the length of that list.</li>
<li>Let's start by writing two functions, one for computing the sum of a list and the other for computing the length.</li>

In [123]:
def leng_list(input_list):
    counter = 0
    for item in input_list:
        counter += 1
    return counter

In [124]:
def sum_list(input_list):
    addition = 0
    for item in input_list:
        addition += item
    return addition

In [125]:
def mean_list(input_list):
    list_sum = sum_list(input_list)
    list_length = leng_list(input_list)
    list_avg = list_sum/list_length
    return list_avg

In [126]:
list1 = [23,43,2,43,75,23,766,24,34]

In [127]:
avg_list1 = mean_list(list1)
print(avg_list1)

114.77777777777777

In [13]:
header = ['Subject', 'FM', 'PM', 'OM']
score1 = ['English', '75', '32', '63']
score2 = ['Nepali', '100', '40', '74']
score3 = ['Social', '100', '40', '76']
score4 = ['Science', '75', '32', '68']
score5 = ['C.Math', '100', '40', '93']
score6 = ['Opt.Math', '100', '40', '91']
score7 = ['E.H.P', '75', '32', '61']
score8 = ['Account', '75', '32', '58']
score9 = ['Economic', '75', '32', '57']
score10 = ['Computer', '75', '32', '71']

score_dataset = [header, score1, score2, score3, score4, score5, 
                score6, score7, score8, score9, score10]

#### From the given dataset write a function that calculates the percentage of given student.

<li>Use one function to calculate the full marks of the student.</li>
<li>Another function to calculate the obtained marks of the student.</li>
<li>And create a third function that would calculate the percentage of the given student.</li>
<li>Don't forget to use function inside a function we just read above.</li>

In [29]:
def total_om(index1):
    total_om = 0
    for item in score_dataset[1:]:
        total_om += int(item[index1])
    return total_om

In [30]:
def total_fm(index2):
    total_fm = 0
    for item in score_dataset[1:]:
        total_fm += int(item[index2])
    return total_fm

In [31]:
def percentage(index1, index2):
    om = total_om(index1)
    fm = total_fm(index2)
    result = om/fm
    return (result*100)

In [32]:
percent = percentage(index1=-1, index2=1)
print(percent)

83.76470588235294

In [34]:
def total(index):
    marks = 0
    for score in score_dataset[1:]:
        marks += int(score[index])
    return marks

In [35]:
def percentage(om_index, fm_index):
    
    om = total(om_index)
    fm = total(fm_index)
    result = om/fm
    return (result*100)

In [37]:
score_percentage = percentage(om_index =-1 , fm_index = 1)
print(score_percentage)

83.76470588235294

#### Pallindrome check

<li>A palindrome is a word, phrase, or sequence that is the same spelled forward as it is backwards.</li>
<li>Examples are:</li>
<ol>
<li>radar</li>
<li>was it a car or a cat i saw</li>
</ol>

In [40]:
string = "was it a car or a cat i saw"
final_string = string.replace(" ", "")
print(final_string)

wasitacaroracatisawt

In [41]:
reversed_string = ''.join(reversed(final_string))
print(reversed_string)

twasitacaroracatisaw

In [42]:
def check_pallindrome(string):
    final_string = string.replace(" ", "")
    reversed_string = "".join(reversed(final_string))
    if final_string == reversed_string:
        print("The given string is a pallindrome.")
    else:
        print("The given string is not a pallindrome")

In [43]:
check_pallindrome(string= "radar")

The given string is a pallindrome.

In [44]:
check_pallindrome(string= "was it a car or a cat i saw")

The given string is a pallindrome.

In [45]:
check_pallindrome(string= "was it a car or a cat i sawt")

The given string is not a pallindrome

In [46]:
def check_pallindrome(string):
    final_string = string.replace(" ", "")
    reversed_string = ''
    for i in range(len(final_string), 0, -1):
        reversed_string += final_string[i-1]
    if final_string == reversed_string:
        print("The given string is a pallindrome.")
    else:
        print("The given string is not a pallindrome")

In [47]:
check_pallindrome(string= "radar")

The given string is a pallindrome.

In [48]:
check_pallindrome(string= "was it a car or a cat i saw")

The given string is a pallindrome.

In [49]:
check_pallindrome(string= "was it a car or a cat i sawt")

The given string is not a pallindrome

#### Create a function to convert the following list into a dictionary like this:
**Given list:**

item = ['duns_id', 'DUNS', 'company_id', 'Company_Id', 'company_name', 'Company_Name', 'product_id', 'Product_Id',
       'product_name', 'Product_Name', 'country', 'Country']

**Dictionary like this:**

item = {"duns_id" : 'DUNS','company_id' : 'Company_Id', 'company_name' : 'Company_Name', 'product_id' : 'Product_Id',
       'product_name' : 'Product_Name',  'country' : 'Country'}

In [53]:
item1 = ['duns_id', 'DUNS', 'company_id', 'Company_Id', 'company_name', 'Company_Name', 'product_id', 'Product_Id',
       'product_name', 'Product_Name', 'country', 'Country']

In [56]:
def dict_item(dataset):
    dict1 = {}
    for index in range(0, len(dataset), 2):
        dict1[dataset[index]] = dataset[index + 1]
    return dict1

In [57]:
dict2 = dict_item(item1)
print(dict2)

{'duns_id': 'DUNS', 'company_id': 'Company_Id', 'company_name': 'Company_Name', 'product_id': 'Product_Id', 'product_name': 'Product_Name', 'country': 'Country'}

In [58]:
list1 = list(dict2.keys())
list2 = list(dict2.values())
print(list1)
print(list2)

['duns_id', 'company_id', 'company_name', 'product_id', 'product_name', 'country']
['DUNS', 'Company_Id', 'Company_Name', 'Product_Id', 'Product_Name', 'Country']

In [62]:
def list_to_dict(list1, list2):
    dict1 = {}
    for idx in range(len(list1)):
        dict1[list1[idx]] = list2[idx]
    return dict1

In [63]:
dict2 = list_to_dict(list1, list2)
print(dict2)

{'duns_id': 'DUNS', 'company_id': 'Company_Id', 'company_name': 'Company_Name', 'product_id': 'Product_Id', 'product_name': 'Product_Name', 'country': 'Country'}

In [68]:
dict2 = {k:v for k,v in zip(list1,list2)}
print(dict2)

{'duns_id': 'DUNS', 'company_id': 'Company_Id', 'company_name': 'Company_Name', 'product_id': 'Product_Id', 'product_name': 'Product_Name', 'country': 'Country'}

#### Modules
<ol>
<li>In Python, Modules are simply files with the “. py” extension containing Python code that can be imported inside another Python Program.</li>
<li>In simple terms, we can say a module as a file containing a set of functions we want to include in our application.</li>
<li>We can use the function defined in another python file to our existing python file by using import keyword.</li>

#### Question: There are 10 elements in a list. Write a function that calculates the sum of items with even index and odd index separately and check which one is bigger and calculate the margin by which one is bigger than other.

In [3]:
list1 = [12,23,57,21,87,43,89,34,11,64]

In [4]:
def function1(list1):
    even_index=0
    odd_index=0
    for items in range(0,len(list1),2):
        even_index+=list1[items]
        odd_index+=list1[items+1]
    if even_index>odd_index:
        print("Even index sum > odd index sum by {}".format(even_index -odd_index))
    else:
        print("Odd index sum > Even index sum by {}".format(odd_index - even_index))

In [5]:
margin=function1(list1)
print(margin)

71

#### Question: Write a function that calculates the sum of items in a list. The items can be an integer or float or a list. It donot accept any other datatypes.

In [1]:
a = '5'

In [2]:
type(a)

str