## Printing my first python program

In [1]:
print("Hello world")

Hello world

### Defining integer variable

In [2]:
a = 5

## Checking the datatype of a variable

In [3]:
type(a)

int

## Defining float variable

In [4]:
b = 4.5
type(b)

float

### Defining sum of two variables

In [6]:
a + b

9.5

## Defining product of two variables

In [7]:
a * b

22.5

### Defining difference of two variables

In [8]:
a - b

0.5

### Defining division of two variables

In [9]:
a / b

1.1111111111111112

In [10]:
a//b

1.0

### String Datatypes

#### Various ways of String Representation

In [11]:
c = 'My name is Prabhat Ale'
type(c)

str

In [13]:
d = "I live in Manigram"
type(d)

str

In [14]:
print(d)

I live in Manigram

In [16]:
e = "Martin says 'I am getting bored'"
print(e)

Martin says 'I am getting bored'

In [18]:
f = 'Doctor says "Eat an apple daily"'
print(f)

Doctor says "Eat an apple daily"

### Definig paragraphs as a string

In [23]:
paragraph = """ I get up early at 5 am in the morning.
Then I go to a walk.
Then I brushes my teeth.
Then I put on my dress
Then I come to school."""
print(paragraph)

 I get up early at 5 am in the morning.
Then I go to a walk.
Then I brushes my teeth.
Then I put on my dress
Then I come to school.

### String Concatenation

In [20]:
myname = "Prabhat Ale"

In [21]:
print("My name is {}".format(myname))

My name is Prabhat Ale

In [26]:
g = "I eat an"
h = "apple"
g  +  h

'I eat anapple'

In [27]:
g  + " " + h

'I eat an apple'

### Uppercasing a string

In [28]:
i = "Apple"
i.upper()

'APPLE'

### Lowercasing a string?

In [29]:
i.lower()

'apple'

### Finding the length of a string

In [30]:
print(len(i))

5

In [31]:
i[0]

'A'

In [33]:
i[-1]

'e'

In [34]:
j = "          I am here to close the gaps                    "
print(j)

          I am here to close the gaps

In [36]:
print(len(j))

57

In [35]:
j.strip()

'I am here to close the gaps'

In [37]:
k = "I want  to drink  a  coffee"
print(k)

I want  to drink  a  coffee

In [38]:
l = k.replace("  ", " ")
print(l)

I want to drink a coffee

In [39]:
m = k.replace("coffee", "tea")
print(m)

I want  to drink  a  tea

### Split methods in Strings

In [41]:
n = l.split(" ")
print(n)

['I', 'want', 'to', 'drink', 'a', 'coffee']

In [42]:
print(len(n))

6

In [43]:
type(n)

list

In [44]:
o = "Nepal_Rs"

In [46]:
o.split("_")[0]

'Nepal'

In [47]:
p = "I_wanted_to_go/by/a_train"

In [52]:
p.split('/')[-1].split('_')[1]

'train'

In [55]:
p.split('_')[-1]

'train'

### List DataTypes

In [57]:
q = [1,2, 3, 4, 5,6]
print(q)
type(q)

[1, 2, 3, 4, 5, 6]

list

In [58]:
r = [4.5,6.7, 9.8, 2.3]
print(r)
type(r)

[4.5, 6.7, 9.8, 2.3]

list

In [59]:
s = ["apple", "mango", "litchi"]
print(s)
type(s)

['apple', 'mango', 'litchi']

list

In [60]:
t = [1, 4.5, "pie", "healthy", 9.5, 2]
print(t)
type(t)

[1, 4.5, 'pie', 'healthy', 9.5, 2]

list

### List Indexing

In [61]:
t[3]

'healthy'

In [62]:
s[-1]

'litchi'

In [1]:
u = [1, 4, 6 ,9, "sushmita"]

In [3]:
u[-1]

'sushmita'

In [4]:
u[4]

'sushmita'

### Updating the items in a list

In [7]:
u[3] = "sushma"

In [8]:
u

[1, 4, 6, 'sushma', 'sushmita']

In [9]:
u[0] = "Prabhat"

In [10]:
u

['Prabhat', 4, 6, 'sushma', 'sushmita']

In [13]:
u[3:4]

['sushma']

In [18]:
[u[3], u[4]]

['sushma', 'sushmita']

In [19]:
v = ['car', 'van', 'truck', 'motorbike', 'samir', 2, 'sushmita']

In [21]:
v[:4]

['car', 'van', 'truck', 'motorbike']

In [22]:
[v[4], v[-1]]

['samir', 'sushmita']

#### List Concatenation Methods
<ol>
<li>We can use the '+' operator to concatenate multiple lists and create a new list.</li>
<li>We can use '*' operator if we want to repeat the elements of a list for <b>n</b> number of times.</li>
<li>insert(): It inserts the element before the given index.</li>
    
**<li>While inserting into a list, you must specify index position as a first parameter and then value as another parameter.</li>**
    
<li>append(): It append the elements to the end of the list.</li>
<li>extend(): It extends the list by appending elements from the iterable.</li>
</ol>

In [23]:
w = [1, 2, 3]
x = [4, 5, 6]
print(type(w))
print(type(x))

<class 'list'>
<class 'list'>

In [25]:
x + w

[4, 5, 6, 1, 2, 3]

In [26]:
y = ["apple", "ball"]
y*2

['apple', 'ball', 'apple', 'ball']

In [27]:
y.insert(2, "cat")

In [28]:
y

['apple', 'ball', 'cat']

In [29]:
y.insert(1, "arrow")

In [30]:
y

['apple', 'arrow', 'ball', 'cat']

In [31]:
y.append('cow')

In [32]:
y

['apple', 'arrow', 'ball', 'cat', 'cow']

In [33]:
x

[4, 5, 6]

In [34]:
y.extend(x)

In [35]:
y

['apple', 'arrow', 'ball', 'cat', 'cow', 4, 5, 6]

#### How To Delete Elements From A List
<ol>
    <li>remove(): It removes the elements based on the values of an element.</li>
    <li>pop(): It removes the elements based on the index value of an element.</li>
    <li>del[]: It also removes the elements based on the index value of an element.</li>
    <li>clear(): delete all elements from a list and make them empty</li>
</ol>

In [36]:
y.remove("cow")

In [37]:
y

['apple', 'arrow', 'ball', 'cat', 4, 5, 6]

In [38]:
y.pop(1)

'arrow'

In [39]:
y

['apple', 'ball', 'cat', 4, 5, 6]

In [40]:
del y[3]

In [41]:
y

['apple', 'ball', 'cat', 5, 6]

In [42]:
y.clear()

In [43]:
y

[]

#### Tuples

<li>Tuples are used to store multiple items in a single variable.</li>

<li>Tuples are written with round brackets.</li>


<li>Tuple items are indexed, the first item has index [0], the second item has index [1] etc.</li>

<li>Tuples are ordered, unchangeable, and allow duplicate values.</li>

<li>When we say that tuples are ordered, it means that the items have a defined order, and that order will not change.</li>

<li>Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created.</li>

<li>Since tuples are indexed, they can have items with the same value.</li>

In [44]:
tuple1 = (1, 6, 9)

In [46]:
print(tuple1)
print(type(tuple1))

(1, 6, 9)
<class 'tuple'>

In [47]:
tuple1[0]

1

In [48]:
tuple1[-1]

9

In [49]:
tuple1[1]

6

In [50]:
tuple1[0:2]

(1, 6)

In [53]:
tuple1[0] =2

TypeError: 'tuple' object does not support item assignment

In [55]:
list1 = list(tuple1)
print(list1)
print(type(list1))

[1, 6, 9]
<class 'list'>

In [56]:
list1[0] = 2
list1

[2, 6, 9]

In [57]:
tuple1 = tuple(list1)
print(tuple1)
print(type(tuple1))

(2, 6, 9)
<class 'tuple'>

### How to add new elements to a tuple
<li>Tuples are immutable data structures in Python, so we can not add or delete the items from the tuples created in Python like lists there is no append() or extend() function.</li> 
<li>We can add new elements to a tuple by using a '+' operator.</li>
<li>For adding multiple elements in a tuple, we can convert a tuple to a list for adding more than one items.</li>

In [59]:
(1, 2, 3) + (4,)

(1, 2, 3, 4)

In [60]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

In [61]:
tuple1 + tuple2

(1, 2, 3, 4, 5, 6)

#### How To Delete Element From A Tuple

In [62]:
tuple1

(1, 2, 3)

In [63]:
del tuple1

In [64]:
tuple1

NameError: name 'tuple1' is not defined

#### Set & ItsOperations

<ol>
<li><b>Insertion</b> : We can add new elements in a set by using <b>add()</b> method.Insertion in set is done through <b>set.add()</b> function.</li>
    <li><b>Union</b> : Two sets can be merged using <b>union()</b> function or <b>|</b> operator. This operation combines the elements of two sets and removes the duplicate elements since duplication is not allowed in a set.</li>
<li><b>Intersection</b>: This operation can be done through intersection() or & operator. Common Elements are selected.</li>
<li><b>Set Difference</b>: To find difference in between sets, this can be done through difference() or – operator.</li>
<li><b>Clear:</b>: Set <b>clear()</b> method empties the whole set inplace.</b>
</ol>

In [65]:
set1 = {1, 2, 3, 4, 5}
print(type(set1))
print(set1)

<class 'set'>
{1, 2, 3, 4, 5}

In [67]:
set1.add(7)

In [68]:
set1

{1, 2, 3, 4, 5, 7}

In [69]:
set2 = {2, 4, 6, 8, 10}

In [70]:
set1 | set2

{1, 2, 3, 4, 5, 6, 7, 8, 10}

In [71]:
set1 & set2

{2, 4}

In [72]:
set1 - set2

{1, 3, 5, 7}

In [73]:
set2 - set1

{6, 8, 10}

In [75]:
set1.clear()

In [76]:
set1

set()

#### Dictionary

<li>A dictionary is a collection which is ordered, changeable and do not allow duplicates.</li>
<li>A dictionary is a collection of keys values, used to store data values.</li>
<li>In Python, a dictionary can be created by placing a sequence of elements within curly {} braces, separated by ‘comma’.</li>
<li>Dictionary holds pairs of values, one being the Key and the other is value associated with a particular key.</li> 
<li>Values in a dictionary can be of any data type and can be duplicated, whereas keys can’t be repeated and must be immutable.</li>
<li>Dictionary keys are case sensitive, the same name but different cases of Key will be treated differently.</li>

In [1]:
dict1 = {"name": "Prabhat", "address": "manigram", "age": 32,
        "weight": 69.6}

In [3]:
print(dict1)
print(type(dict1))

{'name': 'Prabhat', 'address': 'manigram', 'age': 32, 'weight': 69.6}
<class 'dict'>

In [4]:
dict1 = {"name": "Prabhat", "address": "manigram", "age": 32,
        "weight": 69.6, "name": "Saurav"}

In [5]:
print(dict1)
print(type(dict1))

{'name': 'Saurav', 'address': 'manigram', 'age': 32, 'weight': 69.6}
<class 'dict'>

In [6]:
dict2 = {"name": ["Prabhat", "Saurav"], "address": ["Manigram", "Bardaghat"],
        "age": [32, 23], "weight": [69.2, 56,8]}

In [7]:
dict2

{'name': ['Prabhat', 'Saurav'],
 'address': ['Manigram', 'Bardaghat'],
 'age': [32, 23],
 'weight': [69.2, 56, 8]}

In [10]:
dict3 = {"name": {"fname": "Prabhat", "lname": "Ale"},
        "address": {"city": "Butwal", "municipality": "Tilottama"},
        "age": {"dob": "2049/12/15", "years": 30}}

In [11]:
dict3

{'name': {'fname': 'Prabhat', 'lname': 'Ale'},
 'address': {'city': 'Butwal', 'municipality': 'Tilottama'},
 'age': {'dob': '2049/12/15', 'years': 30}}

In [12]:
dict4 = {"string": "prabhat", 1:"integer", 3.5: "float"}
dict4

{'string': 'prabhat', 1: 'integer', 3.5: 'float'}

In [14]:
dict5 = {"string": "prabhat", 1:"integer", 3.5: "float",
        {"address": "manigram"}: "dictionary"}

TypeError: unhashable type: 'dict'

In [17]:
dict1

{'name': 'Saurav', 'address': 'manigram', 'age': 32, 'weight': 69.6}

In [18]:
dict1['name']

'Saurav'

In [19]:
dict1['weight']

69.6

In [23]:
dict3

{'name': {'fname': 'Prabhat', 'lname': 'Ale'},
 'address': {'city': 'Butwal', 'municipality': 'Tilottama'},
 'age': {'dob': '2049/12/15', 'years': 30}}

In [26]:
len(dict3)

3

In [25]:
dict3['age']['dob']

'2049/12/15'

#### Dictionary Methods
<ol>
    <li>clear() – Remove all the elements from the dictionary</li>
    <li>copy() – Returns a copy of the dictionary</li>
    <li>get() – Returns the value of specified key</li>
    <li>items() – Returns a list containing a tuple for each key value pair</li>
    <li>keys() – Returns a list containing dictionary’s keys</li>
    <li>pop() – Remove the element with specified key</li>
    <li>popitem() – Removes the last inserted key-value pair.</li>
    <li>update() – Updates dictionary with specified key-value pairs</li>
    <li>values() – Returns a list of all the values of dictionary.</li>
</ol>

In [28]:
dict2 = dict1.copy()

In [29]:
dict2

{'name': 'Saurav', 'address': 'manigram', 'age': 32, 'weight': 69.6}

In [30]:
dict1.clear()

In [31]:
dict1

{}

In [33]:
dict2['address']

'manigram'

In [34]:
dict2.get('address')

'manigram'

In [35]:
dict2.items()

dict_items([('name', 'Saurav'), ('address', 'manigram'), ('age', 32), ('weight', 69.6)])

In [36]:
dict2.keys()

dict_keys(['name', 'address', 'age', 'weight'])

In [37]:
dict2.values()

dict_values(['Saurav', 'manigram', 32, 69.6])

In [38]:
dict2

{'name': 'Saurav', 'address': 'manigram', 'age': 32, 'weight': 69.6}

In [39]:
dict2.pop('age')

32

In [40]:
dict2

{'name': 'Saurav', 'address': 'manigram', 'weight': 69.6}

In [41]:
dict2.popitem()

('weight', 69.6)

In [42]:
dict2

{'name': 'Saurav', 'address': 'manigram'}

In [44]:
dict2['name'] = "Prabhat"

In [45]:
dict2

{'name': 'Prabhat', 'address': 'manigram'}

In [46]:
dict2.update({'address': "Divertole"})

In [47]:
dict2

{'name': 'Prabhat', 'address': 'Divertole'}

### Frequency Tables

In [53]:
genders = ["male", "female", "male","male", "male", "female","female"]
gender_dict = {"male": 0, "female": 0}

In [54]:
for gender in genders:
    if gender == "male":
        gender_dict["male"] += 1
    else:
        gender_dict["female"] += 1

In [55]:
gender_dict

{'male': 4, 'female': 3}

In [48]:
a = 6
a = a + 3
print(a)

9

In [49]:
b = 6

In [50]:
b+=3

In [51]:
b

9

In [65]:
fruits = ["apple", "apple", "mango", "banana", "mango", "banana", "mango",
         "apple"]
fruits_dict = {"apple": 0, "banana": 0, "mango": 0}

In [66]:
for fruit in fruits:
    if fruit == "apple":
        fruits_dict["apple"] += 1
    elif fruit == "banana":
        fruits_dict["banana"] += 1
    else:
        fruits_dict["mango"] += 1

In [67]:
fruits_dict

{'apple': 3, 'banana': 2, 'mango': 3}

In [2]:
list1 = [1,2,1,2,4,5,3,4,5,6,4,2,4,6,2,4,6,2,1,1,5,7,8,9,9,8,7,6]

In [4]:
dict2 = {"1": 4, "2": 3, "4": 5}

In [6]:
"7" in dict2

False

In [7]:
dict1 = {}
for item in list1:
    if item not in dict1:
        dict1[item] = 1
    else:
        dict1[item] +=1

In [8]:
dict1

{1: 4, 2: 5, 4: 5, 5: 3, 3: 1, 6: 4, 7: 2, 8: 2, 9: 2}

In [9]:
fruits_price = {"apple": 500, "dragon_fruit": 700, "mango": 250, "banana":100,
               "pineapple": 180}

In [16]:
for key, value in fruits_price.items():
    if value < 200:
        fruits_price[key] = 200

In [17]:
fruits_price

{'apple': 500,
 'dragon_fruit': 700,
 'mango': 250,
 'banana': 200,
 'pineapple': 200}

In [20]:
gender = ["male", "male","female", "female","male","male","female"]

In [18]:
male_count = 0
female_count=0

In [21]:
for g in gender:
    if g == "male":
        male_count += 1
    else:
        female_count += 1

In [22]:
print(male_count)
print(female_count)

4
3

In [23]:
list1 = [1,2,1,2,4,5,3,4,5,6,4,2,4,6,2,4,6,2,1,1,5,7,8,9,9,8,7,6]

In [28]:
dict1 = {'1-3':0, '4-6': 0, '7-9': 0}
for item in list1:
    if item >=1 and item <=3:
        dict1['1-3'] += 1
    elif item > 3 and item <=6:
        dict1['4-6'] += 1
    else:
        dict1['7-9'] += 1

In [29]:
dict1

{'1-3': 10, '4-6': 12, '7-9': 6}

In [ ]:
country_list = ["nepal_asia", "japan_asia","germany_europe", 
                "australia_australia", "france_europe", 
                "argentina_south_america", "canada_north_america",
               "portugal_europe", "india_asia", "brazil_south_america"]

### While Loop

In [30]:
i = 0
while i < 10:
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9

In [32]:
j = 25
while j > 15:
    print(j)
    j -= 1

25
24
23
22
21
20
19
18
17
16

In [34]:
i = 0
while True:
    print(i)
    i += 1
    if i > 5:
        break

0
1
2
3
4
5